[2014-08-14 06:02] uranusjr opened #4 "Menu items not working on “In Your City” page"
**About**, **Our events** and **Partners** only work on the main page.

[2014-08-21 08:30] #4 closed, assigned to olasitarska

[2014-09-07 17:16] uranusjr opened #6 "Event pages get JavaScript TypeError"
At the end of `djangogirls.js` there is

[code]

but event pages do not have `sss.min.js` included, and any subsequent JavaScript code won’t work because of that. :cry:

[2014-09-07 17:22] #6 closed, assigned to nobody

[2014-09-08 04:34] uranusjr opened #8 "Sponsor list CSS is broken"
See http://djangogirls.org/taipei#partners

[2014-09-09 12:49] #8 closed, assigned to nobody

[2015-01-09 23:42] rebkwok opened #13 "catch-all url for event"
Hi

In core/urls.py, there is this line:
url(r'^(?P<city>[\w\d/]+)$', 'core.views.event', name='event'),

This basically says "match djangogirls.org/ plus any combination of letters and go to the event view".  Then in core/views.py, there is a try/except clause on line 50 that says if the event page doesn't exist, redirect to /events.  When developing the jobs site, we've found that the url for /j

[2015-01-10 12:42] olasitarska commented on #13
Hi @rebkwok!

Yeah, I am aware of this for a while. I'd rather fix this (so all urls have / at the end, for example), than to change the url of every event we have. Especially if we're printing posters & stuff, djangogirls.org/london is better and easier to remember than djangogirls.org/event/london.

djangogirls.org/london/ is not as bad as djangogirls.org/event/london. We should redirect everyth

[2015-01-10 12:53] rebkwok commented on #13
Sure, I would be happy to work on this :)

On Sat, Jan 10, 2015 at 12:42 PM, Ola Sitarska <notifications@github.com>
wrote:

[2015-01-10 21:12] rebkwok commented on #13
@olasitarska I'm mostly done with this - just wanted to check how you want to deal with events that exist, but are not live yet.  They can either throw a 404 like any other unmatched url, or they could redirect to a page saying something like "The event page for <city> will be coming soon!" (possibly only for cities with a future date, so the is_live flag can be used to deactivate past events if n

[2015-01-11 11:48] olasitarska commented on #13
I think the latter would be perfect! :) We could also say: if you want to contact organizers of this event, email them on [city]@djangogirls.org. It's always the city slug and @djangogirls.org.

[2015-01-12 19:41] #13 closed

[2015-02-25 23:37] pydanny opened #15 "Add donation link on the footer"
I've been asked by a potential contributer(s) that they couldn't find any way to donate off the djangogirls site. Please add a link in the footer or some other appropriate place.

[2015-02-26 14:12] #15 closed

[2015-03-11 16:32] olasitarska opened #17 "Saving data entered to the application form"
Currently, we have a form displayed in `templates/apply.html` out of `Question` objects. For each submit of the form, we need to validate it, create an `Application` instance and `Answer` instances for each `Question` in the form.

[2015-03-11 16:35] olasitarska opened #18 "Displaying list of applications for organizers with sorting"
The goal of this is to have a list of all `Application` objects for given `Form` listed somewhere. Applications should be listed anonymously, with just an ID and date of creation.
Url: http://djangogirls.org/city/applications/
Access should be restricted to organizers of this event only.

This is a first part of the scoring / triaging system.

[2015-03-11 16:39] olasitarska opened #19 "Displaying detail of application and scoring for organizers"
Once we have a list of all applications for organizers (#18), then we need to create an application detail view. This also needs to be restricted to organizers of the city only.

On this page, you should see:
- all the questions & answers for the application
- at the end, possibility to score application in the scale of 1-5 and skip scoring for this application. Organizers should also have a way t

[2015-03-11 16:40] olasitarska opened #20 "Assigning people to groups: accepted / waitlisted / rejected"
On the application listing (#18), organizers should have a way to add people to following groups:
- accepted
- waitlisted
- rejected

Either by assigning one person to a group, or bulk assigning (like in Django admin with actions).

It'd be also good to provide a way to filter people by group.

[2015-03-11 16:43] olasitarska opened #21 "Sending emails to chosen groups"
Organizers should have a way to send mass email to choosen groups of people (accepted, waitlisted, rejected), as well as just individuals who applied for the workshop. All emails should go from [city]@djangogirls.org. We will use SendGrid (or other option) to send those emails.

We should also provide organizers with the history of sent emails through our system.

[2015-03-11 20:02] olasitarska opened #22 "Generating RSVP links, tracking clicks on the links"
The batch emails (#21) should have an option to include RSVP links. When applicant clicks the rsvp link, our system will mark that they confirmed participation in the workshop.

[2015-03-11 20:03] olasitarska opened #23 "Displaying RSVP status on attendees list"
On the application list created in #18, organizers should be able to see and filter people by RSVP status.

[2015-03-11 20:08] olasitarska opened #24 "Additional question about opt-in to newsletter in each form"
Each form should have additional question (in English), at the end, asking if they want to receive newsletter from Django Girls about out future events and endeavours. This opt-in information should be saved on `Application` model.

Which also reminds me, that it'd be good to let organizers mark question as `is_email` and validate these emails here.

[2015-03-11 20:09] olasitarska opened #25 "Sending confirmation of application to candidates"
:warning: This depends on #21 and #22.

That would be a very useful feature -- when someone applies, we send them a confirmation with all their answers on email. Sometimes people wrote to us in the past asking if we received their application, becuase they don't have confirmation and are not sure.

[2015-03-11 21:43] olasitarska opened #26 "Automatically openning and closing application form based on date"
There is a `open_from` and `open_until` field on the `Form` model. We should respect that when displaying the form page.

[2015-03-11 21:44] #17 closed

[2015-03-12 12:33] elena opened #27 "ManyToMany relationship for coaches and sponsors"

[2015-03-12 22:31] andyosuna commented on #24
I can try this one :)

[2015-03-14 15:30] phalt commented on #18
Gonna give this a go today. I'm not a css whiz, so I'll just start some work on providing lists of applications for events, filtered on events and only viewable by organisers of that event.

[2015-03-16 22:50] andyosuna commented on #18
If this is okay I can take over and help with the styling!

[2015-03-17 09:31] phalt commented on #18
@andyosuna Sure, I think @olasitarska merged the progress I did into the `applications` branch

[2015-03-17 09:51] olasitarska commented on #18
Yes @andyosuna, go ahead! :)

[2015-03-18 03:12] lightstrike commented on #21
Is creating HTML templates for these emails considered part of this issue or should that be created separately?

[2015-03-18 04:26] andyosuna commented on #18
I believe the applications shouldn't link to a detail page, like they do now. Only styled the applications list for now :smile_cat:

[2015-03-18 09:33] phalt commented on #18
@andyosuna The link goes to the detail view described [in this issue](https://github.com/DjangoGirls/djangogirls/issues/19). We can change it to a button instead, however.

[2015-03-18 17:00] olasitarska commented on #21
Yeah, it's considered as a part. If you would rather submit two pull requests, go ahead :)

[2015-03-22 09:37] phalt commented on #18
@olasitarska What type of sorting do we want for this view? Sorting based on the state of the applications? newest/oldest/accepted/rejected?

[2015-03-22 10:08] phalt opened #31 "Testing for Applications app"
As the Applications app grows and third parties start to contribute, we should probably add an automated testing suite so we can start preventing bugs :bug: and pep8 errors.

[2015-03-22 11:40] phalt commented on #19
I'm going to (hopefully) complete this view today, along with the ability to score the application. It won't look pretty but the backend functionality shouldn't take me more than a few hours.

[2015-03-22 12:14] asendecka commented on #19
I keep my fingers crossed! :+1:

[2015-03-23 03:09] andyosuna commented on #24
This should have been done with merge #29 :)

[2015-03-23 03:12] andyosuna commented on #20
This is partially done, only missing the "waitlist" group

[2015-04-01 16:14] #19 closed

[2015-04-06 02:15] #20 closed

[2015-04-06 02:28] #18 closed

[2015-04-06 02:28] olasitarska commented on #18
I think we only need sorting by score for now -- I added it now :)

[2015-04-07 12:20] #24 closed

[2015-04-25 06:59] bmispelon opened #41 "Make event URLs case insensitive"
From @williln in slack:

[2015-04-25 13:31] #41 closed

[2015-05-16 12:52] olasitarska opened #44 "Names of uploaded files should be unique"
Currently when someone uploads a file to Django Girls website in admin (as coach photo or sponsor logo), we don't change the name of the file, so it's easy to override someone elses file. We should change that.

[2015-05-16 13:03] tricoder42 commented on #44
Note: It shouldn't happen by default, because Django appends random hash to conflict filename (https://docs.djangoproject.com/en/1.8/ref/files/storage/#django.core.files.storage.Storage.get_available_name), but it really happened to one organizer.

[2015-05-16 13:04] olasitarska commented on #44
Good point, if someone wants to investigate that, go ahead. Otherwise I'll try next week ;)

[2015-05-16 13:15] tricoder42 commented on #44
DjangoGirls uses S3 Storage which has a settings: `AWS_S3_FILE_OVERWRITE` https://github.com/jschneier/django-storages/blob/master/storages/backends/s3boto.py#L216

It is true by default. It should help to turn it off, but I need to test it.

[2015-06-04 09:25] aniav opened #45 "Teams"
This should probably be split into smaller issues.

- Overview: the whole goal of this project is to give credit to everyone who helped make Django Girls a reality. It’s not just Ola and Ola but at this point the Django Girls is made by HUNDREDS of people. We believe that giving credit and gratitude to people who spend their free time making the world a better place is extremely important. This pa

[2015-06-04 09:44] aniav commented on #31
I would suggest CircleCi or TravisCi here :)

[2015-06-04 11:08] robcharlwood commented on #23
Looking at this now...

[2015-06-04 11:54] olasitarska commented on #21
Let's do it on just plain text emails for now, as HTML pretty emails are stopping us from shipping this :rocket:!

[2015-06-04 11:54] olasitarska commented on #25
Plain text emails again!

[2015-06-04 12:48] lightstrike commented on #21
Solid plan!

[2015-06-04 14:25] #44 closed

[2015-06-04 14:40] robcharlwood commented on #23
Hi @olasitarska :)

So I'm a little confused as to what is required here. Currently we dont have a RSVP status field on any model as far as I can see. If we add one, what should be the process for RSVPing?

Email applicant with link to view where they can accept/reject/maybe? Or some other process?

Also I presume we are going to allow the applicant to update their responses? for example they say

[2015-06-04 14:42] eddiebragg commented on #26
Hi,

Should this not show the page and not accept application submissions when not within the date range?

[2015-06-04 14:43] olasitarska commented on #26
@eddiebragg Yeah, exactly, no one except organizers should be able to access /<city>/apply/ view if form is not within the date range.

[2015-06-04 15:00] robcharlwood commented on #23
To summarise. This ticket relies on others in this issue list.

We need to send emails to accepted users with 'yes'/'no' links for them to click, create a model/fields to store attendee responses and allow organisers to filter these via ``/city/applications/``.

[2015-06-04 15:03] robcharlwood commented on #25
Sorting this now as this is a quick win.

[2015-06-04 15:04] olasitarska commented on #25
:+1:

[2015-06-04 15:07] olasitarska opened #49 "Upgrade to Django 1.8"

[2015-06-04 15:21] eddiebragg commented on #26
@olasitarska I take it if the two dates are not filled in the application is always open? The can have null values.

[2015-06-04 15:33] olasitarska commented on #26
Yes!

[2015-06-04 15:38] robcharlwood commented on #25
@olasitarska When I looked, this was already done in the ``applications`` branch but was a bit broken. I have fixed the broken-ness and raised a pull request. Once that gets merged this ticket is done. :+1:

[2015-06-04 15:47] parodia commented on #25
@olasitarska we came to conclusion that organizers should have the possibility to edit the confirmation mail as many events have website (so I bet also mails) in their national languages so currently working on it

[2015-06-04 15:50] robcharlwood commented on #25
@olasitarska @parodia We just need to find a neat way to interpolate the dynamic data without confusing the organisers on the front end with ``{{foo.bar.car.dar}}`` style mark up.

[2015-06-04 15:52] olasitarska commented on #25
hm, organizers can edit questions in Question model, so we can just get the questions from there, right?

[2015-06-04 15:52] robcharlwood commented on #25
@olasitarska this is not for the answers themselves. :)

This is for the standard thank you text e.g

Hi there!

This is a confirmation of your application to <a href="http://djangogirls.org/{{ application.form.page.url }}">{{ application.form.page.title }}</a>. Yay! That's a huge step already, we're proud of you!

Mind that this is not a confirmation of participation in the event, but a confirmat

[2015-06-04 15:53] olasitarska commented on #25
Make sense!

[2015-06-04 16:01] olasitarska commented on #27
The goal here would be to remove ForeignKey fields from Sponsor and Coach models, to make them available for every event organizers and create ManyToMany fields 'coaches' and 'sponsors' on EventPageContent model. This way organizers don't have to duplicate data for coaches who coached on more than one event or sponsors who sponsored more than one event.

[2015-06-04 17:30] #26 closed

[2015-06-04 17:39] andyosuna commented on #45
:open_mouth: This is great! I was thinking that if you want the gravatar to be the photo then the email can't be optional...or do you plan on it being able to handle both cases?

[2015-06-07 20:17] #25 closed

[2015-06-08 21:29] #21 closed

[2015-06-08 21:29] #49 closed

[2015-06-08 21:30] olasitarska opened #57 "Preview of HTML message in emailing through application system"

[2015-06-08 21:36] #57 closed

[2015-06-15 20:09] #22 closed

[2015-06-15 20:30] #23 closed

[2015-06-15 21:46] olasitarska commented on #31
I added some tests today. Still missing tests for forms and views.

[2015-06-15 21:58] olasitarska opened #58 "Email preview needs to have css white-space: pre-wrap instead of just pre"

[2015-06-15 21:58] olasitarska opened #59 "Additional groups in composing email"
We should be able to also mass email RSVP groups (rsvp_status=yes, waiting or no)

[2015-06-15 21:59] olasitarska opened #60 "Order of the questions in the form can get mixed up"
Haven't debug it yet, but just adding so I won't forget

[2015-06-15 22:07] olasitarska opened #61 "Write docs about application system in Organizer's Manual"

[2015-06-23 08:35] hawkowl commented on #60
@olasitarska You can probably close this now!

[2015-06-23 08:35] #60 closed

[2015-06-23 08:35] olasitarska commented on #60
Good point, done! :)

[2015-06-23 08:37] olasitarska opened #65 "Numbers of applications"
So currently in the view with the list of applications, we display a number of the application. Except, this is actually a unique id among all the applications ever. It'd be nice to actually display them starting from one for each form.

[2015-06-23 08:39] olasitarska opened #66 "Correct the help text in Question admin"
There's a tip in Question admin, for multiple-choice questions, that options should be comma separated. Actually, a semi-colon is expected

[2015-06-24 21:18] #58 closed

[2015-06-24 21:26] #66 closed

[2015-06-24 21:41] #65 closed

[2015-06-24 21:41] olasitarska commented on #31
Done!

[2015-06-24 21:41] #31 closed

[2015-06-24 22:00] #59 closed

[2015-06-25 14:02] #61 closed

[2015-06-29 20:55] helenst opened #68 "Application form: sections?"
I've been using the new application system to set up the Coventry application form - it's so awesome and looks really great too :star2:

One way I think it could be made better is to allow dividing into sections - our application form is quite long and on the Google form we had it broken in to sections - it would be nice to be able to do that here.

[2015-07-01 03:50] williln opened #69 "CSS for Facebook link?"
It looks like the Facebook widget is starting to include the cover page, but that's bleeding into the Twitter "follow" link in Chrome. This is happening on both the /portland and /djangoconus pages.

![screen shot 2015-06-30 at 8 49 05 pm](https://cloud.githubusercontent.com/assets/2286304/8447179/7ca70e5e-1f69-11e5-8d26-60aec29b8b48.png)

[2015-07-01 10:33] aniav commented on #69
The footer HTML content is controlled by you, and the fb-box appearance is controlled by facebook scripts so I don't think we can do anything with this. Additionally I have just checked both pages and it looks ok to me. What web browser do you use?

[2015-07-01 15:17] williln commented on #69
I'm using Chrome, and I also see the problem in other pages I don't manage. This is Brisbane:

![screen shot 2015-07-01 at 8 12 29 am](https://cloud.githubusercontent.com/assets/2286304/8457949/1df0f734-1fc9-11e5-8e90-831c06324661.png)

This is the Brisbane code (from view source) :

[code]

This is the Portland code (copied from the admin) :
[code]

I am pretty sure that this section and all its

[2015-07-01 16:57] williln opened #70 "Twitter links for coaches point to event site"
The @[twitter] link below a coach's photo is a link, but it always points to the event web page, not to the twitter account. Is there a way to fix that? See [Wroclaw](http://djangogirls.org/wroclaw/) and [Portland](http://djangogirls.org/portland/) for examples.

[2015-07-02 15:42] williln opened #72 "Application open/close dates don't work"
I noticed this first when I set my application to open on July 1 at 6am, but it was open on June 30 at 10pm (PST). I wondered if it was just a time zone issue.

Then, I needed to close my app after it was open because of an unrelated issue, so I changed the open date to July 6, but the app is currently open.

http://djangogirls.org/djangoconus/apply/
![screen shot 2015-07-02 at 8 41 35 am](https:/

[2015-07-02 15:47] williln opened #73 "Application page header links broken"
The links in the header for the application page direct to #about, #faq, etc. *on the /apply page* and not on the main event page. You can see at the very bottom of the screenshot the URL that the "Apply Now!" link is pointing to.

![screen shot 2015-07-02 at 8 43 10 am](https://cloud.githubusercontent.com/assets/2286304/8481146/686f9fb8-2096-11e5-8555-ba7c45f1606b.png)

[2015-07-02 21:28] #70 closed

[2015-07-03 10:13] olasitarska opened #75 "Make djangogirls.org HTTPS only"
Now that we have SSL for djangogirls.org, it'd be good to redirect all http requests there. It probably needs a middleware.

[2015-07-03 10:40] olasitarska commented on #69
Yeah, I believe that Facebook just changed how this boxes are displayed. We need to see if there is a way to change the way how this widget looks like.

[2015-07-03 10:42] olasitarska commented on #69
I think the correct code for this widget should now look like this:

[code]

[Reference](https://developers.facebook.com/docs/plugins/page-plugin). This also means we should change it in all footers... This will require some clever regex, right?

[2015-07-03 10:53] aniav commented on #75
If we want the whole domain to be behind HTTPS we need to turn it on in the server settings and set redirects there, Django doesn't have to know about it at all AFAIK.

[2015-07-03 10:53] olasitarska commented on #75
I don't think Heroku can do that

[2015-07-03 10:55] aniav commented on #75
Oh... /o\

[2015-07-03 10:56] olasitarska commented on #75
Exactly :D

[2015-07-03 15:40] williln commented on #69
If this is helpful, this code I put in the admin:

[code]

Produces this result:
<img width="1235" alt="screen shot 2015-07-03 at 8 38 54 am" src="https://cloud.githubusercontent.com/assets/2286304/8501912/fdf8246a-215e-11e5-8378-6392d8cfd48a.png">

Not 100% (not totally centered), but not overlapping!

[2015-07-05 14:51] #75 closed

[2015-07-05 14:57] #73 closed

[2015-07-05 15:07] olasitarska commented on #72
Hah, I was confused by this for a couple of days, because we've got tests for that and stuff. Then it hit me: you can see the application form, because you're logged in as organizer. Try visiting this in incognito window and you won't be able to see the application form :)

[2015-07-05 15:07] #72 closed

[2015-07-05 15:15] #69 closed

[2015-07-05 15:16] olasitarska commented on #68
Good idea! :)

[2015-07-08 22:13] williln opened #79 "Need to add "position" for sponsor, but there is no input there."
When I try to add a sponsor, I get an error that the "position" field is required, but there is no input there for me to change. This isn't an error I got when I added the Portland sponsors (and again there is no input for that column), but it's an error I'm getting when I try to add sponsors to the Austin event.

Note: In the screenshot, I did have a photo added for a logo; when I tried to save t

[2015-07-09 04:42] williln opened #80 "Links in Applications menu don't work"
The links to "Applications" and "Messaging" from the /applications page lead to ```djangogirls.org/event_city//event_city/applications``` and ```djangogirls.org/event_city//event_city/communication```, respectively. See screenshot. The result is a 500 error.

I think the issue is in /templates/event/menu.html, or in how the data gets passed in and then rendered in line 19, and in applications/view

[2015-07-09 11:49] aniav commented on #79
Fixed that in 39965fca837b4bf414b17678939e5f6ab2a96373 right now! :)

[2015-07-09 11:49] #79 closed

[2015-07-09 15:51] uranusjr opened #83 "CharField and TextField should generally not be nullable"
Related to 9cf101954. I fixed `templates/event.html` with a `default_if_none:''` filter to avoid invalid CSS:

[code]

but this really should have been enforced in the model, since it doesn’t really make sense to distinguish between `None` and `''` (empty string) for this attribute. The same can be said with `EventPage`’s `title`, `description`, and many other fields holding text contents.

[2015-07-12 14:29] #80 closed

[2015-07-14 14:58] olasitarska opened #86 "Validation of application scoring form"
![screen shot 2015-07-14 at 9 47 18 am](https://cloud.githubusercontent.com/assets/527795/8676396/d9797c2a-2a0e-11e5-8833-570c07c09b61.png)

[2015-07-14 18:10] williln opened #87 ""Save and go to next" stopped working"
About half an hour ago, the "Save and go to next" button stopped working, and instead just redirects back to the list of applications. I refreshed my browser, in case it was some browser-based issue, but that didn't work.

[2015-07-14 18:21] olasitarska commented on #87
It may mean that you scored all applications. Is that the case?

If so, we should add a warning message when it happens -- you're the second person to report it :)

[2015-07-14 18:23] williln commented on #87
@olasitarska Nope, I still have applications to score. I just have to find them manually. :-/

[2015-07-14 18:44] olasitarska commented on #87
Ok, there is a bug then :)

[2015-07-14 18:47] williln commented on #87
:bug: :beetle: :bee:

[2015-07-15 04:13] williln commented on #86
@olasitarska What do you want to happen here? Have it average out to 0.5?

[2015-07-15 11:40] olasitarska commented on #86
Sorry for not making that clear, here it is:
- In the row with empty person -- this person doesn't have first_name and last_name setup. In this case, we should display email field.
- Ola Sendecka and empty person shouldn't be allowed to add a score with score None and comment None.

[2015-07-16 21:32] williln commented on #87
So this started working again? IDK why.

[2015-07-16 21:33] williln opened #90 "If you visit /applications w/o being logged in, nothing happens"
You don't get an error message or redirected to the event page. You just see a totally blank page.

[2015-07-21 19:47] aniav opened #92 "[applications] Sorting polishing"
When sorting applications you will be able to sort on the average score and the list will be sorted based on this even though you can't see the values so you see who has the highest score ever if you don't see what is it's value. The expected behaviour is that you should see the hidden elements sorted by id (or whatever is set as the base ordering) and the visible ones normally.

[2015-07-22 18:44] #90 closed

[2015-07-23 16:34] Manishmkr opened #96 "import error"
from django.template import context,engine, template doesnot exist
ImportError:cannot import name 'context'

I was in django tutorial intro to html part and this error is showing when i give
python manage.py runserver     command in console windows

[2015-07-25 09:08] phalt commented on #96
Hey @Manishmkr, I think you're looking at the wrong GitHub repo? I think you'll want to file this under [DjangoGirls/tutorial](https://github.com/DjangoGirls/tutorial/issues)

[2015-07-25 09:11] phalt commented on #87
@williln is this behaviour still present when you do finish the list? I think I implemented a bit of this so I can have a look into it.

[2015-07-27 17:38] williln commented on #87
@phalt This isn't happening for me anymore. Granted, when it started happening, it was halfway through scoring about 50 applications. Since then, I am only scoring 2 or 3 at a time. I'm comfortable closing the issue, though, since i'm not getting it anymore.

[2015-07-27 23:19] williln opened #100 "Applicants don't receive confirmation emails"
Tina, another organizer in Slack, reported that she submitted a test app and didn't receive a confirmation email. I also submitted a test app and didn't get a confirmation email, and asked an applicant who emailed to confirm that her app submitted whether she received one. She did not.

So it seems the "confirmation email" functionality mentioned in the [organizer's manual](http://organize.djangog

[2015-07-28 08:43] olasitarska commented on #100
Ah, that's because we moved from Heroku to PythonAnywhere on Sunday. I'll fix the api keys today.

[2015-07-28 12:55] jinpark opened #101 "Applications CSV export: add button "Export to CSV""
I already got started on this so I'll try to have a PR for this sometime soon

[2015-07-28 20:14] williln commented on #100
@olasitarska I just tried to use the messaging component of the application to send an email, and it failed for all the recipients. I assume that's the same issue?

[2015-07-28 22:01] olasitarska commented on #100
@williln yeap, same thing. I think I fixed it, could you try now?

[2015-07-28 22:58] williln commented on #100
@olasitarska The emails still fail. I don't get any error message, but there are no "Successfully sent emails," all emails are listed under "Emails that failed to send."

[2015-07-28 23:08] olasitarska commented on #100
Ok, I fixed one more thing, and tested it -- I received both confirmation of application and e-mail from messaging component. Could you please try again and test yourself? Sorry to bother you! :tulip:

[2015-07-28 23:21] williln commented on #100
Still nothing from the messaging component for me :-/ All the email addresses listed as failed. I submitted a test app, so my email address is also included, and I'm not receiving an email.

It's not a big deal at the moment-- I wasn't sending out an email that can't wait.

[2015-07-29 09:02] olasitarska commented on #100
The weirdest thing ever. I'll investigate :)

[2015-07-29 09:51] jinpark opened #103 "Make some default fixtures"
When I was trying to contribute to the site, was kind of a pain to create a bunch of fake applications, so it would be nice if we could get some fake fixtures in there to pre populate some data in the database

[2015-07-30 02:30] hawkowl commented on #100
Yeah, I didn't get any emails right now (doing DjangoGirls Brisbane). Should I just fall back to manual emails for now?

[2015-07-30 08:20] jinpark commented on #103
Forgot to mention, it would be nice if we could do a small `dumpdata` and anonymize  the emails and ids for a few small events :)

[2015-07-30 09:47] patjouk opened #104 "Can't log in anymore in admin"
Hello,

I tried to log in the admin part of the website but it's not working and I don't get any error message: I'm just sent back to the login page.
I thought it was a password issue but Rebeca mentioned on slack she had the same problem last weekend.
Could someone help me? Thanks a lot :smile_cat:

[2015-07-30 14:28] olasitarska opened #105 "Applications CSV export: add button "Export to CSV""
It'd be very useful to know that this option even exist :) I think button on the application list view, on the same level as "Applications for Django Girls City" header would be awesome.

cc @jinpark

[2015-07-30 14:34] olasitarska opened #106 "Application CSV export: add all questions and answers to exported CSV"
At the moment, exported CSV contains only a couple of columns. We would like to have all questions and answers exported too :)

cc @jinpark

[2015-07-30 14:37] olasitarska commented on #101
Ah, sorry, I duplicated this in #105 :)

[2015-07-30 14:37] olasitarska commented on #105
Duplicate of #101 :blush:

[2015-07-30 14:37] #105 closed

[2015-07-30 14:38] #104 closed

[2015-07-30 14:38] olasitarska commented on #103
:+1:

[2015-07-30 15:02] #100 closed

[2015-07-30 15:07] olasitarska commented on #100
I fixed the issue now! :spaghetti:

[2015-07-30 15:09] olasitarska commented on #96
Thanks @phalt!

[2015-07-30 15:09] #96 closed

[2015-07-30 15:10] olasitarska opened #107 "Setup Travis"
Would be nice to have some automatic test checking here for each pull request :)

[2015-07-30 19:22] williln opened #108 "Add filtering"
Would be nice to be able to limit the applicants you see to just the accepted, rejected, etc. ones.

This is probably beginner-friendly!

[2015-07-30 19:23] williln commented on #108
Whoops, this totally already exists. I just didn't see it even though I was staring right at it. :blush:

[2015-07-30 19:23] #108 closed

[2015-08-03 04:54] williln commented on #100
Thanks @olasitarska! :lollipop: :bouquet:

[2015-08-03 09:03] jinpark opened #111 "Add first and last name to exported csv"
`hawkowl` in slack wanted names in the csv export. Very reasonable request, I can work on this after we get https://github.com/DjangoGirls/djangogirls/issues/101 in

[2015-08-03 09:42] olasitarska commented on #111
I think this is actually part of issue #106, isn't it?

[2015-08-03 17:34] williln opened #112 "Add FAQ page to main site."
This is newbie-friendly!

1. Take the [Organier's FAQ](http://organize.djangogirls.org/faq/index.html), pull out the questions that aren't specific to organizing, and duplicate them on an /faq/ page for the main Django Girls site.
2. Site should be linked from the bottom footer under "Django Girls."
3. URL should be /pages/faq

[2015-08-04 18:48] jinpark commented on #111
Bleh, yup. I forgot that the names are included in the questions. Closing :P

[2015-08-04 18:48] #111 closed

[2015-08-05 07:18] helenst opened #113 "Applications CSV: scores need to be hidden"
CSV shows average score even if user has not scored that application yet.

On the web interface, this is hidden until they have. The CSV shouldn't expose this information.

[2015-08-05 09:24] #113 closed

[2015-08-05 09:25] #106 closed

[2015-08-05 09:25] #101 closed

[2015-08-05 09:26] jinpark commented on #106
whoo!

[2015-08-05 09:26] jinpark commented on #101
yay!

[2015-08-08 17:58] williln opened #115 "Deselect apps after changing status"
It would be nice if the checkboxes would "uncheck" after you've selected a bunch of applicants, and then changed their status. That way, if you're making decisions in bulk, you can move directly onto selecting the next bunch of applicants.

[2015-08-08 17:58] williln opened #116 "Add "select all" and "deselect all""
This is just a handy thing to have in any list that has checkboxes :smile:

[2015-08-08 18:00] williln commented on #92
I'd also add that I'd like to be able to sort by ANY column. Sometimes that's just handy.

[2015-08-10 07:54] jinpark opened #117 "Fix weird ordering in /applications/ page"
On the applications page, the ordering is wonky and I'm not really sure why

![image](https://cloud.githubusercontent.com/assets/1847812/9162321/4d49c57a-3f80-11e5-8460-33347f384d92.png)

[2015-08-10 07:55] phalt commented on #117
Could this be something to do with how records are collected from the database? Perhaps there is no ordering?

[2015-08-10 07:56] jinpark opened #118 "Application number should correlate to the url"
For the seoul chapter at least
`https://djangogirls.org/seoul/applications/424` links to application number `110`

It would make more sense to have the url be `https://djangogirls.org/seoul/applications/110` since it would be easier to refer and link to

N.B. This might break a lot of existing urls out in the wild that are between teams so might need to do a site wide notification about this chang

[2015-08-10 07:57] phalt commented on #117
@jinpark which page are you seeing this on? If we know where to start looking it'll help us discover a fix quicker! :grin:

[2015-08-10 08:08] RachellCalhoun commented on #118
Our team had some confusion over this. I hope the url and app number can be the same to eliminate unnecessary miscommunication.

[2015-08-10 08:09] hassanabidpk commented on #118
+ Also when you click on "Save and go to next" it takes you some random application. After 110, I would ideally want to be at 111.

[2015-08-10 08:43] jinpark commented on #117
For the seoul group, `https://djangogirls.org/seoul/applications/` page

I thought there was only one `/applications` page!

[2015-08-10 20:21] phalt commented on #117
@jinpark I've been investigate this, this evening and I can't seem to reproduce any weird state. Are you sure it is not just because you've set a filter at the top of the page?

[2015-08-11 07:24] phalt commented on #117
@jinpark I have a fix into master, should be soon so feel free to close this when you're happy!

[2015-08-11 07:29] helenst commented on #118
@jinpark this seems like a nice idea, url breakage will need to be handled but I think this would be good to have.

@hassanabidpk This should probably be a separate issue, but it seems like the "save and go to next" is intentionally random. Maybe it should be re-labelled to say it's random, and perhaps a separate button which takes you to the next in sequence, what do you think?

[2015-08-11 07:44] jinpark commented on #118
How about

Save & Go Previous | Save | Save & Go Next | Save & Go Random
------------ | ------------- | ------------ | -------------

[2015-08-11 07:44] olasitarska commented on #118
I think that's two options too many ;)

[2015-08-11 07:49] helenst commented on #117
This is deployed now :) Looks good on Coventry!

[2015-08-11 07:51] jinpark commented on #117
LGTM here as well! Closing the issue! Thanks!!! :+1:

[2015-08-11 07:51] #117 closed

[2015-08-11 08:25] hassanabidpk commented on #118
Agree with @helenst  . Having two options is reasonable.

[2015-08-11 14:38] williln commented on #118
Also, it's in our blog post about how we score that apps are scored randomly, so no one is scored worse just because they are at the bottom of the pile. I don't think we should change that.

[2015-08-11 14:47] jinpark commented on #118
I'm ok with either way, I just want the application numbers/url sorted out :D

[2015-08-13 20:13] bmispelon opened #120 "Errors don't display in the admin login form"
Trying to log in the admin with a wrong username/password combination just displays another login form without any error message.

[2015-08-14 15:44] williln opened #121 "RSVP confirmation page doesn't confirm the option you selected"
From attendee:

Might be nice to have that confirmation page let them know which they selected!

[2015-08-14 15:50] olasitarska commented on #121
:+1:

[2015-08-14 16:54] williln opened #122 "Add "Applicant declined" as "status" option"
I have an attendee on the waitlist who won't be able to attend even if picked, and since her status is "waitlist," I can't add her RSVP as "rejected." My only option is to "reject" her application, which isn't really accurate. Propose adding new status in addition to "Application accepted, rejected, etc." of "Applicant declined," for those situations where applicants decline the wait list, or need

[2015-08-17 08:22] helenst opened #124 "Applications - CSV Download should match current queryset"
If you're viewing a subset of applicants and click download, it stlil downloads everybody. The downloaded list should match the current page's list.

[2015-08-17 23:18] williln opened #125 "Sending emails to newly-accepted attendees sends them to ALL accepted attendees"
Just realized that when I accepted some attendees from the waitlist, then emailed them through the Messaging app, it emailed ALL accepted attendees, resulting in duplicate email notifications. It would be nice to have a way to email newly accepted people, and ignore folks who've already received the email.

Or set a second drop-down to skip people who've RSVP's, at least.

[2015-08-19 13:49] amureki commented on #120
Seems like it is because of that bug:
https://github.com/darklow/django-suit/issues/400

[2015-08-19 14:55] amureki commented on #112
@williln maybe we should create an app for FAQ? Or just leave it as flatpage?

[2015-08-19 14:58] olasitarska commented on #112
@amureki I think it's better to have it as html in repository, because people can PR against it! :)

[2015-08-23 14:36] olasitarska opened #127 "Fix fetching city coordinates"
I noticed that for a while, the script that fetches city coordinates from some API just stopped working. Didn't have time to investigate, but returned coordinates are None.

[2015-08-24 13:06] taniaa opened #129 "Fix the date of the event in Sao Jose dos Campos"
Will take place in November not October: https://djangogirls.org/events/

![captura de tela 2015-08-24 as 09 59 56](https://cloud.githubusercontent.com/assets/1102067/9440735/b9b1cb28-4a47-11e5-837d-a1081e09165f.png)
![captura de tela 2015-08-24 as 10 00 06](https://cloud.githubusercontent.com/assets/1102067/9440736/b9b66214-4a47-11e5-9596-94d16691d7db.png)

[2015-08-24 16:48] williln commented on #129
Hi @taniaa! I've updated this event. For future reference, I think you can change this yourself at https://djangogirls.org/admin/core/event/ :tulip: :rose:

[2015-08-24 16:48] #129 closed

[2015-08-24 19:05] taniaa commented on #129
Hi @williln! Of course but I don't have access... Let me know how can I do this.

[2015-08-24 19:08] williln commented on #129
I think the organizers have access to that page? I could be wrong, though. Are you an organizer for that event @taniaa? If not, that explains why you don't have access. :-) If you should be an organizer for that event, then have one of the existing organizers email us to have you added!

[2015-08-24 19:16] taniaa commented on #129
I'm not a organizer of Django Girls or Django programmer. I'm from Python community in general and Pyladies Brazil. If I can help in something else just tell me. :)

[2015-08-24 19:19] williln commented on #129
I see! Thanks for noticing the discrepancy :-) Sometimes when we set up events, the organizers don't know when their event will be held exactly, and then they set their date but don't realize they need to change it for the homepage, too.

There's a list of issues for the website if you feel like jumping in! https://github.com/DjangoGirls/djangogirls/issues Just comment on the issue if you have any

[2015-08-24 19:32] taniaa commented on #129
Ok! I will spreed it to my Django programmers friend ;)

Good look with organization! See you in the event!

[2015-08-24 21:08] olasitarska opened #130 "Setup Slackin, add it to Django Girls website"
We want to open up Django Girls Slack channel for the general population. For this, we need to:

- [ ] Setup and configure [Slackin](https://github.com/rauchg/slackin)
- [ ] Add Slackin to the Django Girls website

[2015-08-24 21:10] olasitarska opened #131 "Convert #organizers Slack channel into private group, and add inviting to this group to new_event.py management command"
This depends on #130

As soon as we've got Slackin in place, we should convert #organizers channel into a private group. Then we should use Slack API that we have in `new_event` management command to automatically invite added organizers to this group.

[2015-08-25 06:13] helenst opened #132 "Flatpage template field is confusing"
It is blank by default, and the help text is misleading. You have to go in and manually set it to flatpage.html

I think this value should be made a default, and the help text corrected.

[2015-08-29 14:24] #127 closed

[2015-08-29 14:28] helenst commented on #127
I fixed this and re-ran the script - it works again now :-)

[2015-09-15 17:33] patjouk opened #133 "City not added to URL in email template"
The email template used by new_event.py is not adding the city name in the URL ("Your website address is http://djangogirls.org/{{ event.page.url }}", line 27).

[2015-09-17 13:37] #133 closed

[2015-09-28 18:13] lightstrike opened #135 "Add DB rollback functionality"
When transition was made to PythonAnywhere from Heroku, we lost DB rollback functionality. Add again using [this guide](https://help.pythonanywhere.com/pages/RegularPostgresBackups).

[2015-10-08 12:40] patjouk opened #138 "Disable editing organizers field for organizers"
If an organizer click on a name in the team list at the bottom of the admin page, they are kicked from the organizing team and replace by the people they clicked on.

To prevent any problems, they shouldn't have the right to edit this field.

[2015-10-08 12:42] patjouk opened #139 "Create a soft delete"
Deleting an event or a website should archive it somewhere to prevent accidental delete.

[2015-10-08 22:07] olasitarska commented on #138
So what we need to do here, is a little bit of magic that I talked about in my DjangoCon talk about admin :) :sparkles:

What we want to achieve is have the `organizers` field on `Event` model to be readonly if user who is editing doesn't have a `superuser` status. Fortunately, looking at the [code here](https://github.com/DjangoGirls/djangogirls/blob/master/core/admin.py#L33), we're already doing

[2015-10-08 22:21] #131 closed

[2015-10-08 22:21] #130 closed

[2015-10-12 15:17] #138 closed

[2015-10-13 13:30] patjouk opened #141 "Ical events page: error 500"
Clicking on the [Ical button](https://djangogirls.org/events/calendar.ics) on the events page will get you an error 500 :stuck_out_tongue:

[2015-10-14 13:06] bmispelon commented on #141
Fixed in 93a904ac40546b081c2d8483e47e807e6bbba3c3 (forgot to tag the issue).

[2015-10-14 13:06] #141 closed

[2015-10-14 13:15] patjouk opened #142 "Event with no date set is considered past event"
If an event has no defined date, it's considered as a past event.
One of the consequence is that this event is also a past event on the events webpage.

[2015-10-15 08:34] olasitarska opened #143 "Error when there is more than one form for a page"
![screen shot 2015-10-15 at 9 33 47 am](https://cloud.githubusercontent.com/assets/527795/10508587/e6062420-731f-11e5-82e1-e8d151a19a22.png)

[2015-10-16 10:30] olasitarska opened #144 "Error when visiting an application form of a page that doesn't exist"
![screen shot 2015-10-16 at 11 29 44 am](https://cloud.githubusercontent.com/assets/527795/10539688/544687e8-73f9-11e5-8715-58b12e08fe1d.png)

[2015-10-21 21:20] ryangallen opened #146 "CSV columns misalign if new questions are added to form"
<img width="618" alt="screen shot 2015-10-21 at 5 17 59 pm" src="https://cloud.githubusercontent.com/assets/1379681/10650488/d33b6b28-7817-11e5-83b8-56970d169a2a.png">

After adding the t-shirt size question, the applications without a t-shirt size get the Code of Conduct response in the t-shirt column.

[2015-10-22 02:58] williln commented on #142
Problem will be in djangogirls/core/models.py, EventQuerySet model, past method. Need to retrieve events that have a date at all, and then that have a date LT datetime.now().

[2015-10-22 02:59] #87 closed

[2015-10-22 07:04] olasitarska commented on #146
Thanks for reporting! Definitely valid bug :)

[2015-10-27 02:02] andrayantelo commented on #116
How would this work? Is it a button that you push to select/deselect all or a checkbox that selects/deselects all?

[2015-10-27 02:04] andrayantelo commented on #112
I think this is closed by #147

[2015-10-27 02:25] ryangallen opened #150 "Sponsor rows should not have margin top/padding bottom on smaller screen sizes"
When viewing the sponsor logos on mobile screen sizes, the row margin/padding creates an odd looking space.

<img width="458" alt="screen shot 2015-10-26 at 10 28 06 pm" src="https://cloud.githubusercontent.com/assets/1379681/10747897/e280bfb2-7c30-11e5-82c7-dde6ef57c6c2.png">

[2015-10-27 17:39] #122 closed

[2015-10-30 07:38] #143 closed

[2015-10-30 07:38] #120 closed

[2015-10-30 07:39] #144 closed

[2015-10-30 07:41] #112 closed

[2015-10-30 07:41] olasitarska commented on #112
Thanks!

[2015-10-31 10:08] helenst commented on #107
I've put in a .travis.yml and tested it on my own fork of the repo (https://travis-ci.org/helenst/djangogirls/builds) ... seems to work nicely - a little slow due to dependencies (psycopg, PIL etc) needing to be compiled each time. I can get it to cache the package downloads but not sure about the builds themselves!

I don't have the right permissions to switch on for the real repo so I'll leave t

[2015-10-31 21:45] aniav commented on #107
Done! Awesome work @helenst :)

[2015-10-31 21:45] #107 closed

[2015-11-06 00:19] marteloge opened #156 "Applications - Form - support apply as coach form"
To make it easier for organizers it would be a nice feature to support applications from coaches in a form as we do with the attendents.

[2015-11-07 10:33] aniav commented on #118
So all in all this issue is about changing how the url is created. We should not change the behaviour of save & go to next. Summarising it up so we have a clear view (and because we have sprints on Django Under The Hood and I want this to be clear for anyone).

[2015-11-07 10:36] #142 closed

[2015-11-07 10:50] aniav opened #158 "Remove django.contrib.webdesign"
`django.contrib.webdesing` is deprecated sine Django 1.8 and it is not really used anywhere. It should be removed from INSTALLED_APPS and `{% load webdesign %}` in every place it occurs.

[2015-11-07 11:10] aniav opened #159 "Add "Add another job" button to submission page"
_From @williln on July 15, 2015 19:34_

On the success page, I think it'd be nice to have an "Add another job" button. A company may have several opportunities.

_Copied from original issue: djangogirlsjobs/djangogirls#52_

[2015-11-07 11:11] aniav opened #160 "Add job/meetup forms could be formatted better"
_From @MarysiaLowas on July 24, 2015 19:1_

For now, all input fields in Add job/meetup forms are set to 260px but it would be nicer to have them wider. And we could also improve the forms layout but we would need to dive into crispy forms.

_Copied from original issue: djangogirlsjobs/djangogirls#68_

[2015-11-07 11:12] aniav opened #161 "populate_database script is out-of-date"
_From @MarysiaLowas on July 24, 2015 17:23_

Most probably populate_database script is out of date. I haven't run it but it's ages till we last updated it.

_Copied from original issue: djangogirlsjobs/djangogirls#66_

[2015-11-07 11:12] aniav opened #162 "Show more geography data in meetups"
_From @williln on July 15, 2015 20:11_

In /community/meetups, we're only displaying the city. As this page grows, we may want to display city and country, and possibly city/state-or-province/country. There are two Portlands in the US, for example.

With that in mind, we may want to collect state or province data for meetups, so we at least have it. It would also help with a Phase 2 "filtering" op

[2015-11-07 11:12] aniav commented on #162
_From @MarysiaLowas on July 23, 2015 11:43_

FYI, I'm looking into this one.

[2015-11-07 11:12] aniav commented on #162
_From @rebkwok on July 23, 2015 11:56_

@MarysiaLowas the timezone should be relatively easy to implement. Let me know if you need any help - I (painfully) implemented timezone support over a huge django app at work, so there may be some immediate tips I can give you if something isn't obvious

[2015-11-07 11:13] aniav opened #163 "Add # upcoming meetups to the footer counters?"
_From @rebkwok on July 4, 2015 4:37_

As mentioned in comment here:
https://github.com/djangogirlsjobs/djangogirls/blob/master/templates/global/footer.html#L45

_Copied from original issue: djangogirlsjobs/djangogirls#36_

[2015-11-07 11:13] aniav opened #164 "Improve test coverage"
_From @rebkwok on May 11, 2015 11:16_

Test coverage is down at 71%; need to review the coverage reports and add tests to cover the major areas that are missing.  From the last coverage report on master, the worst culprits are admin.py which only has 54% coverage, and populate_database.py which is 0%.  Views are at 81%, models at 97%, forms and urls at 100%.

_Copied from original issue: djangogir

[2015-11-07 11:13] aniav commented on #164
_From @MarysiaLowas on July 4, 2015 20:47_

first test for the admin site PRed..

[2015-11-07 11:13] aniav commented on #164
_From @MarysiaLowas on July 13, 2015 20:15_

more test coming in #48

[2015-11-07 11:14] jinpark commented on #118
thanks @aniav ! I can have a PR for this fairly soon I think

[2015-11-07 11:16] aniav commented on #118
Awesome! Keeping my fingers crossed! :)

[2015-11-07 11:17] MarysiaLowas commented on #160
Remove 'crispy_forms' as they are deprecated. Find another library or try to use pure bootstrap.

[2015-11-07 11:17] MarysiaLowas commented on #161
This script should be removed. It's not working any more and it's no needed at the moment.

[2015-11-07 11:22] MarysiaLowas opened #165 "Add the State/Province field for meetups/jobs"
Extracted for #162

In /community/meetups, we're only displaying the city. As this page grows, we may want to display city and country, and possibly city/state-or-province/country. There are two Portlands in the US, for example.

Probably the same for the Job model.

[2015-11-07 11:29] MarysiaLowas opened #166 "Add timezone support for meetups"
Extracted from #162

Discussed with @aniav
We shall add a mandatory timezone dropdown next to the _Meetup start date_ field.
Add timezone info when displaying the meetup info (_Community_, _Meetups_, _Meetup details_ pages)

This might be useful:
[django 1.4 how to automatically get user's timezone from client](http://stackoverflow.com/questions/10235956/django-1-4-how-to-automatically-get-users-t

[2015-11-07 11:31] MarysiaLowas opened #167 "Add filtering by Country/City/Province/etc to jobs/meetups"
Extracted from #162

Add the filtering option to the Jobs / Meetups pages.
Filtering by: state, city, province, others?

[2015-11-07 11:33] MarysiaLowas commented on #162
This issue has been split into: #165, #166, #167

[2015-11-07 11:34] aniav commented on #162
Closing :)

[2015-11-07 11:34] #162 closed

[2015-11-07 11:42] MarysiaLowas commented on #160
I am working on this one :dango:

[2015-11-07 13:50] aniav commented on #103
Done! There is a sample_db.json file in the root directory now :)

[2015-11-07 13:50] #103 closed

[2015-11-07 14:07] sophiadavis commented on #124
I'm going to give this one a shot!

[2015-11-07 14:09] #146 closed

[2015-11-07 14:09] aniav commented on #150
I am looking at this :)

[2015-11-07 14:17] #158 closed

[2015-11-07 16:18] aniav commented on #150
Fixed that! :)

[2015-11-07 16:18] #150 closed

[2015-11-07 16:24] aniav commented on #124
That's done! :)

[2015-11-07 16:24] #124 closed

[2015-11-07 16:29] aniav opened #171 "Set the JOBS_EMAIL_USER and MEETUPS_EMAIL_USER on PythonAnywhere"
@marysialowas you should provide the details to me in an e-mail or something :)

[2015-11-09 03:15] jinpark commented on #118
PR up for this one. Let me know if you have any problems :)

[2015-11-11 23:17] aniav commented on #171
Seems @patjouk has done this :)

[2015-11-11 23:17] #171 closed

[2015-11-11 23:18] aniav commented on #118
Closing as it is now done!

[2015-11-11 23:18] #118 closed

[2015-11-11 23:19] aniav commented on #86
This is also done, closing!

[2015-11-11 23:19] #86 closed

[2015-11-11 23:41] aniav commented on #132
Fixed this in 72727dbea7d6255710a24204afaa7ed732763e0d

[2015-11-11 23:41] #132 closed

[2015-11-12 13:18] lyapun opened #175 "Add sponsor functionality doesn't work"
Hello!

1. G to add sponsor page in admin interface - https://djangogirls.org/admin/core/sponsor/add/
2. Fill all fields and click "save"
3. Then you will be redirected to sponsors list and you can see message about "new sponsor was added", but you will not see this sponsor in sponsors list, and else will not see this sponsor in event page.

I think that something broken with assigning sponsor to

[2015-11-12 23:13] aniav commented on #175
Hey @lyapun I have looked into this. Basically to attach a sponsor to a specific page you need to go to that page content called "partners" or "sponsors" or something like that (depending on website) and attach sponsors through an inline form there. Adding sponsors through the view you provided will simply add them to the main list and won't attach them anywhere.

I have removed Sponsors and Coach

[2015-11-13 06:55] lyapun commented on #175
@aniav But it used to work on separate page. Also, on separate page I was be able to change order of sponsors, so I think it's regression.

[2015-11-13 06:59] lyapun commented on #175
Also, it's so hard to find sponsor in dropdown, because they are not sorted in alphabetical order

[2015-11-13 07:25] aniav commented on #175
I will try t

[2015-11-13 07:28] aniav commented on #175
That's because we have merged a PR for #27 recently. I understand your problem but I am unable to fix that any time soon. Keeping this issue reopened so maybe someone else will be able to work on that.

[2015-11-13 07:29] aniav commented on #27
This was merged.

[2015-11-13 07:29] #27 closed

[2015-11-21 16:28] MarysiaLowas commented on #161
Actually, the populate_database script is still working. However, it generates jobs and meetups with are already published but don't have any reviewer assigned to it. In a normal (manual) flow, such a situation is not possible. New jobs and meetups don't have any reviewer but the reviewer is assigned automatically during the "Assign" or "Restore" action. So the script behaviour can be misleading.

[2015-11-22 14:57] helenst opened #179 "Sharing event sites to facebook"
It would be nice if, when sharing an event website to Facebook, it could show information for the event itself instead of the default Django Girls metadata and image.
e.g.
![screenshot-www facebook com 2015-11-22 14-56-01](https://cloud.githubusercontent.com/assets/217966/11324414/2c3b09ac-9129-11e5-867d-7bded11dcf7a.png)

I think this involves customising the opengraph tags in the header.

[2015-11-28 16:42] P3nny opened #180 "Please clarify that local posts will not be migrated to pythonanywhere"
During django girls cologne some girls were irritaded/frustrated that post froms the local app are not migrated to pythonanywhere.

Chapter 12:" Creating the database on PythonAnywhere"

Perhaps it would be good to point out that the local posts will definetly be lost on the server because on pythonanywhere we are using a different database.

[2015-11-30 11:39] zsiciarz opened #184 "Cannot register as a coach for DG Oslo"
The page at https://djangogirls.org/oslo/ links to https://djangogirls.org/oslo/coach/ which returns a 404 error.

[2015-11-30 12:45] patjouk commented on #184
Thanks for creating this issue :wink:
I sent an email to the organizing team to fix it :rose:

[2015-12-02 21:32] #184 closed

[2015-12-02 21:33] olasitarska commented on #180
This is a repository for the Django Girls website, not the tutorial. @P3nny, would you mind re-adding it [here](https://github.com/DjangoGirls/tutorial)? Sorry for the confusion, and thanks for reporting! :)

[2015-12-02 21:33] #180 closed

[2015-12-02 21:35] olasitarska commented on #135
@lightstrike any progress on this? If you don't have time to work on this right now, I'd appreciate some guidance of what needs to be done :)

[2015-12-02 21:39] olasitarska commented on #166
To be honest, I think this doesn't make sense to spend time on until we grow this page enough for this to actually become an issue. Closing for now, but let's reopen when we see this being a problem :)

[2015-12-02 21:39] #166 closed

[2015-12-02 21:42] olasitarska opened #185 "Create a Contact form"
In order to decrease the amounts of email overall, and avoid many "I really wanna get in touch with Warsaw event, but I'm writing to hello@djangogirls.org" cases, maybe we could build a simple Contact from that would send an email to chosen chapter, letting people choose either Django Girls HQ or local events?

Inspiration: http://creativemornings.com/contact

Ideally that would also have a small

[2015-12-03 10:23] #161 closed

[2015-12-03 10:40] olasitarska opened #186 "Upgrade to Django 1.9"
- Install Django 1.9
- Update requirements
- Fix what's broken! :)

[2015-12-03 10:44] #165 closed

[2015-12-03 10:53] mmoravcik commented on #139
I will grab this

[2015-12-03 12:25] mmoravcik commented on #186
On it

[2015-12-03 13:17] mmoravcik commented on #185
Mine!

[2015-12-03 13:28] patjouk commented on #185
If you want to add some FAQ, I made a small list in the [organizer manual](https://github.com/DjangoGirls/organizer-manual/tree/master/faq). You can also add an entry for people that what to register when an event is not opened yet. If you're not sure what to write, I'll add it myself :wink:

[2015-12-03 13:35] mmoravcik commented on #185
There already is /faq page.. https://djangogirls.org/faq/

Maybe we can just update that and add link from Contact page?

[2015-12-03 13:40] patjouk commented on #185
It's a good idea!
I'll open an issue ;)

[2015-12-03 16:38] lightstrike commented on #135
Started working on it with @pieropalevsky last night: https://github.com/DjangoNYC/djangogirls/commit/acf7fcc208453c877ff880874aad755a8a656daa - this feels like the right approach but getting the command to restore the *right* backup is the tricky part. If you have any thoughts there, that would be helpful.

[2015-12-03 16:55] mmoravcik commented on #185
https://github.com/DjangoGirls/djangogirls/pull/188

[2015-12-04 11:31] souravsingh commented on #116
I would like to work on this.How do I start?

[2015-12-04 15:13] #185 closed

[2015-12-05 13:49] peconia opened #192 "Update readme to include instructions on how to create PostgreSQL database"
The settings have been changed to use PostgreSQL instead of SQLite. It would be helpful to add instructions on how to install and create a database locally as using PostgreSQL is not as straightforward as SQLite.

[2015-12-15 19:35] cgl commented on #163
@aniav I think this issue is already merged within @sodevious 's commit. You can close it.

[2015-12-28 18:38] williln opened #197 "Admin site: Add "search" to coaches"
The coaches list [here](https://djangogirls.org/admin/core/coach/) has paging logic, but spans 33 pages at the moment. Add a search feature so it's easier to find the coach you need to edit.

[2016-01-08 11:06] helenst commented on #121
:+1: Especially with declining - we've had a few people accidentally reject their invitation, we always double check that they meant to do this as most people do want to come! In these cases they either clicked the wrong link on their phone, or misunderstood the email. Perhaps when they decline it'd be nice to have an optional text box on the confirmation page so they can say why or add a short me

[2016-01-09 16:38] ulgens commented on #179
@helenst Is that issue resolved?

[2016-01-09 16:40] ulgens commented on #160
@aniav Is that issue resolved?

[2016-01-09 16:45] helenst commented on #179
I think it needs more opengraph tags - I think it is still using the main site's description - it'd be nice to use `og:description` and have the description of the relevant event, and also good to use the city image rather than default logo perhaps?

[2016-01-10 22:14] #160 closed

[2016-01-10 22:16] aniav commented on #160
@ulgens yes! Thanks for reminding! :)

[2016-01-10 22:49] aniav commented on #186
We should be able to close this now! :)

[2016-01-10 22:49] #186 closed

[2016-01-10 23:00] #116 closed

[2016-01-10 23:21] #115 closed

[2016-01-11 15:23] ulgens commented on #192
Is anybody working on it? If not, i want to dive in.

[2016-01-12 12:25] shante66 opened #199 "The Sort by score function on the attendees application doesn't work"
![pasted image at 2016_01_12 01_55 am](https://cloud.githubusercontent.com/assets/13355964/12263677/18e102da-b929-11e5-99d0-b264e0ffd1ce.png)

[2016-01-12 12:29] aniav commented on #199
This has already been fixed but probably not deployed. @patjouk could you deploy the current master? Thank you! :)

[2016-01-12 12:32] aniav commented on #199
Also @shante66 could you blur out the emails in the screen and reupload it? Currently someone can see what are the scores of some people :)

[2016-01-12 12:37] shante66 commented on #199
Done sorry about that :)

[2016-01-13 13:57] ulgens commented on #159
@aniav Is the task completed?

[2016-01-13 13:59] aniav commented on #159
@ulgens seems so! Thank you, I am closing it :)

[2016-01-13 13:59] #159 closed

[2016-01-15 14:38] #163 closed

[2016-01-16 11:01] patjouk commented on #199
Website redeployed: it's fixed :wink:
Thanks @aniav :cake:

[2016-01-16 11:01] #199 closed

[2016-01-20 17:48] andyosuna opened #205 "Prevent duplicate application entries"
Add a unique on the email field in the applications to prevent people from applying more than once.

[2016-01-20 17:52] andyosuna opened #206 "Don't include declined applications when scoring."
I noticed that after declining an application you can still score it, maybe adding a "skip" button or not including them in the query at all would fix this.

[2016-01-20 17:54] andyosuna opened #207 "Ordering applications by score includes hidden scores"
When ordering the applications by score, all the applications including the ones I haven't scored yet get ordered, which gives me a clue as the average my peers have given it.

[2016-01-21 13:48] ceaess opened #209 "Get a Sticker for a correct environment"
Hi! I think it could work very well to implement a RailsBridge style "get a sticker when your computer is set up correctly" event workflow. [Here](http://docs.railsbridge.org/installfest/get_a_sticker) is an example of the pattern RailsBridge uses. I've seen this do much to eliminate environment problems during RailsBridge events, and I think it could work well for helping do the same in DjangoGir

[2016-01-21 20:48] andyosuna commented on #205
This is more relevant now!
Last night we received 513 applications from a bot with the email test@test.com, @patjouk This is what the Mandrill error was about.

[2016-01-21 20:57] andyosuna opened #210 "Add captchas"
https://www.google.com/recaptcha/intro/index.html

Prevent trolls' bots from doing 500+ applications in a sitting :smile:

[2016-01-21 21:13] patjouk commented on #210
I'm on it.

[2016-01-21 22:08] patjouk commented on #210
Fixed it with #211. The captcha are quite ugly so I'll change it with recaptcha as soon as possible. Sorry again about that! I'll clean your database :wink:

[2016-01-21 22:08] #210 closed

[2016-01-22 18:02] #197 closed

[2016-01-22 18:04] olasitarska commented on #209
We try to keep the tutorial appropriate for online use too, so I'm afraid we can't do that.

[2016-01-22 18:04] #209 closed

[2016-01-22 18:05] olasitarska commented on #207
That's a duplicate of #92.

[2016-01-22 18:05] #207 closed

[2016-01-22 18:09] sigmavirus24 commented on #209
Could the section not have a header at the top that if you're using the tutorial online then you should run through the steps yourself to ensure your environment is set up correctly? Having something like a checklist to help you make sure the installation happened appropriately seems beneficial.

[2016-01-25 18:02] patjouk opened #214 "Delete question in form not working"
When an organizer try to delete a question in their form, they get a 404.
Seems to be a URL problem (https://djangogirls.org/admin/applications/question/*number*/change/delete/ is not working but https://djangogirls.org/admin/applications/question/1035/delete/ is).

[2016-01-28 13:53] patjouk commented on #214
fixed by #215

[2016-01-28 13:53] #214 closed

[2016-01-31 14:48] peconia commented on #192
@ulgens I am not working on it so feel free :)

[2016-01-31 16:54] olasitarska opened #220 "Move static files compiling to PythonAnywhere"
Would be cool to not have *.css files checked into our repository anymore.

For this, we need to:

- install stylus on PythonAnywhere
- add `stylus djangogirls.com/static` to the deploy script, before collectstatic.
- remove .css files from the repository and add static/*.css to git ignore
- voila!

[2016-02-01 09:16] shante66 commented on #121
I don't know if this is an issue or an enhancement, but the RSVP links for DjangoGirls Lagos provided only links without the RSVP: YES information. SO most of the attendees were confused about which link was for yes and which was for no
![image](https://cloud.githubusercontent.com/assets/13355964/12712896/55f3506e-c8d4-11e5-9404-b9fc3ad51bac.png)  This was what I thought I sent, but this was what

[2016-02-03 07:42] helenst commented on #121
I think it's a different issue but it is probably best not to include text with the link - that way organisers can use their own choice of text to describe the link.

However, it might be worth clarifying that it is only the URL that is included - perhaps the preview could show an example of the link rather than the placeholder so that it is clearer what the final content will be.

The examples in

[2016-02-03 07:45] helenst opened #222 "Clarify usage of RSVP URLs"
It might be worth clarifying that only the URL is included when the RSVP placeholder is inserted, and people need to include their own text to clarify which is which, as there is room for misunderstanding and mistakes here.

Perhaps the preview could show an example of the link rather than the placeholder so that it is clearer what the final content will be.

Originally mentioned in https://github

[2016-02-08 10:46] patjouk opened #225 "Impossible to translate newletter question in application form"
The way the newsletter question [is created](https://github.com/DjangoGirls/djangogirls/blob/master/applications/utils.py) in the application form make it impossible for organizers to translate it.
Some websites are not in English so it would be awesome if they could change it :wink:

[2016-02-08 11:28] olasitarska commented on #225
I currently don't have idea how to make this question unremovable, and still able to edit... I'll think about it :)

[2016-02-08 11:29] olasitarska commented on #225
Also, idea -- should be sign up those people who want to receive newsletter from us to Campaign Monitor automatically?

[2016-02-12 15:13] patjouk opened #228 "Find a way to let organizer add co-organizers"
The previous way to do it had a big problem: organizers could kick themselves out of their own event! Sadly, removing this right and ask them to contact the support team turned to be too time consuming.
Let's find a better way to do that! :wink:

[2016-02-15 10:02] cgl opened #231 "Application Form: Questions - Add filter by form"
A filter by form option would make it easier to organize the Questions in the admin.
I propose to add a filter on the form field so that we can distinguish the questions for a specific event from the others easily.

[2016-02-25 09:37] #231 closed

[2016-02-25 09:38] patjouk commented on #231
Fixed by #232 Thanks @cgl :cake:

[2016-03-02 11:17] aniav opened #240 "Application open/close timezone"
There is some mismatch between the "Now" being filled in the application form for the start and end date with the timezone being set in the database. Probably it is using one timezone to set the "Now" and another one to check if the start/end time has passed.

[2016-03-09 23:11] pguatura commented on #156
Hi! I've been looking for this feature and I'm very glad to see that someone already though about this and started developing it. I was thinking about continuing the development considering the feedback on the pullrequest, but I haven't contributed to anything else on this repository. Do you mind if I try or do you think it's better if i start with something else?

[2016-03-10 08:10] helenst commented on #179
Closing as I did this yesterday (https://github.com/DjangoGirls/djangogirls/commit/8170a040a9b35011db341f24a42b7ffe14c72e10).

[2016-03-10 08:10] #179 closed

[2016-03-10 08:17] helenst commented on #156
Hi @pguatura I'm sorry nobody replied to your message on the pull request before. It's totally fine for you to take this on if you are happy working on it and it would still be a really great feature to have! There are probably smaller tickets available if you did want something easier to start with but you don't need to do that. Happy coding! :snake::sparkling_heart:

[2016-03-17 11:54] alexanderad opened #244 "Invalidate RSVP links once clicked and show a note if clicked twice"
We have some girls accepting the invitation and then later, after the “meet your coach” email is sent, clicking “reject” link without letting us know anything about the rejection.

This is rather hard to track (the only way is to filter by "RSVP status" which changes silently upon click). And it actually could work in vice versa way: girl first click “reject”, we distribute her place to someone fr

[2016-03-23 17:06] williln opened #248 "Correct spelling mistake on contact form."
This is an excellent beginner project!

This template: https://github.com/DjangoGirls/djangogirls/blob/master/templates/core/contact.html has a spelling mistake on line 19: "bellow" should be "below."

Please fork the repo, correct the mistake, and submit a pull request to fix it! :sparkles:

[2016-03-27 21:41] parodia commented on #175
My PR https://github.com/DjangoGirls/djangogirls/pull/245 changed sponsors order to alphabetic one :)

[2016-04-02 09:57] patjouk opened #251 ""+ Add meetup" button not working"
When you're on meetup detail page in admin and click on the "+ add meetup", you get a 404 error.

[2016-04-02 10:45] MarysiaLowas opened #252 "After submitting a meetup you have an option to add another job but no meetup"
After submitting a meetup, you're redirected to the confirmation page which let you add another Job Opportunity but not another Meetup announcement.

That's because both create_job and create_meetup views redirect to the same view - confirm_submission - but it deals only with Job Opportunities.

![add_another_meetup](https://cloud.githubusercontent.com/assets/8274152/14225812/afa8b3ca-f8d0-11e5-8b

[2016-04-02 11:14] MarysiaLowas commented on #251
It should work after merging #246

[2016-04-02 18:05] amureki opened #254 "Documentation is missing database creation info"
The documentation is really good, but it missing part about database creation. Only migrations command provided.

So, it could be a good option to start with committing here - just to add a few commands about how to create new database and add a new user or role there.

Just fork the repo, update the README, and submit a pull request to fix this.

Thanks!

[2016-04-03 08:14] helenst opened #256 "After setting applicant status, counter is not reset"
When you click checkboxes to select applicants on the Applications page, the number selected is shown at the top of the page.

When you choose the status and click "Apply", the statuses are changed and the applicant check boxes are deselected but the counter is not returned to zero.

This is not a big problem as the counter resets when you start clicking boxes again, but it might make a nice quick

[2016-04-03 10:36] #248 closed

[2016-04-03 13:41] patjouk commented on #251
It's fixed! Thanks @MarysiaLowas :sparkles:

[2016-04-03 13:41] #251 closed

[2016-04-03 13:45] patjouk commented on #254
That's a duplicate of #192

[2016-04-03 13:45] #254 closed

[2016-04-05 07:58] helenst opened #262 "Empty applications list should still show filters"
When I filter the applications list to show subset of applications (e.g. all RSVP rejected) if there are no applications with that status, it just says "Nothing to see here" and does not show the filtering options. It would be good to still show those so you can continue clicking through to other lists.

[2016-04-16 12:37] #192 closed

[2016-04-17 21:18] olasitarska commented on #220
Done!

[2016-04-17 21:18] #220 closed

[2016-04-20 16:48] williln opened #265 "Alphabetize sponsors in admin"
It's really hard to find the sponsor you need to add. I also think alphabetizing would cut down on adding duplicate sponsors, since we'd be able to find what we needed. I think this is probably pretty newbie-friendly?

In two places:

https://djangogirls.org/admin/core/sponsor/
<img width="1204" alt="screen shot 2016-04-20 at 9 37 46 am" src="https://cloud.githubusercontent.com/assets/2286304/1468

[2016-04-23 06:14] jitendraa opened #267 "Libxml2 dependency error"
I was trying to install all requirements with pip install -r requirements.txt as per instructions for contributors.

I got the following error on a Ubuntu 64 bit Vagrant instance.
[code]

[2016-04-23 06:17] jitendraa commented on #267
http://stackoverflow.com/questions/5178416/pip-install-lxml-error

Found instructions for installing the relevant libraries on different systems!

[2016-04-23 06:33] jitendraa commented on #267
Followed by this error: I got an error related libjpeg:

[code]

Solution for ubuntu:
`apt-get install libjpeg-dev`

[2016-04-23 06:58] jitendraa opened #268 "Links / instructions for installation of NPM / gulp and other packages"
Install dependencies for static files:

`npm install
`
Compile CSS and JS files:
`
gulp watch`

It might be worth linking to some installation instructions.

[2016-04-23 08:36] jitendraa commented on #265
@williln : Sponsor model users a 'position' field.
[code]

Any sorting is controlled by position field. (which is defined as sortable in admin).

[2016-04-23 08:47] jitendraa commented on #262
![new-filters](https://cloud.githubusercontent.com/assets/58476/14760290/9eb4851a-095d-11e6-9931-4afec11697ae.png)

Trying to push this fix (as soon as I figure out how to push my fixes)

[2016-04-23 09:20] jitendraag commented on #252
I think we should consider making two confirmation pages: One for meetup submission and another for job / opportunity submission.

[2016-04-23 09:23] phalt commented on #265
@jitendraa You can use Django QuerySet `order_by` method to do this I believe https://docs.djangoproject.com/en/1.9/ref/models/querysets/#django.db.models.query.QuerySet.order_by

[2016-04-23 09:32] phalt commented on #252
@MarysiaLowas Just merged a fix by @jitendraag so can I close this? 😄

[2016-04-23 09:41] olasitarska commented on #268
It's in the readme :)

[2016-04-23 09:41] #268 closed

[2016-04-23 09:42] #267 closed

[2016-04-23 13:37] #262 closed

[2016-04-23 13:40] #256 closed

[2016-04-23 14:09] helenst commented on #222
I am not sure what I meant when I wrote this, as the email preview does show an example of the link so I think it's as clear as it can be - perhaps it got fixed at some point :)

[2016-04-23 14:09] #222 closed

[2016-04-23 14:46] helenst opened #272 "Reconsider use of nose-progressive"
It doesn't support Python 3 well (https://github.com/erikrose/nose-progressive/issues/73) so it is hard to set breakpoints and debug a test

I don't know if there's a good alternative (or perhaps it's worth moving to pytest ;)

[2016-04-23 15:02] helenst opened #273 "Add ability to run tests without coverage report"
It's quicker to run and easier to see pass / fail status without the coverage report on the output.

We still want the ability to generate coverage reports, this should probably have a separate settings file overriding the main one and adding the coverage parameters in to `NOSE_ARGS`.

[2016-04-24 03:43] jitendraag commented on #265
@phalt No, we can't. Unless we get rid of 'sortable' from Django Suit.

The system is designed to have a position element that defines sorting.

[2016-04-24 20:35] MarysiaLowas commented on #252
@phalt yeah, sure :) Thanks!

[2016-04-25 09:26] #252 closed

[2016-05-06 07:02] patjouk opened #276 "Links between previous and new events"
When a city has more than one event, it would be cool to have a link to the previous event in the menu.

We could do it manually but it would be better to update [this script](https://github.com/DjangoGirls/djangogirls/blob/master/core/management/commands/copy_event.py).

[2016-05-21 12:40] #273 closed

[2016-05-27 08:07] helenst opened #283 "Missing emoji on homepage"
![support-us](https://cloud.githubusercontent.com/assets/217966/15601939/41f4704a-23ea-11e6-90a1-85dd668caae4.png)

I am on Ubuntu so probably don't have the right font.

perhaps https://pypi.python.org/pypi/django-emoji can help... it seems like a thing that django girls website should have installed ;-)

[2016-06-01 18:15] aniav commented on #283
Hey @helenst I believe it is a Ubuntu specific thing. I have checked the emoji we are using there with http://emojipedia.org/two-hearts/  and it seems to be working basically everywhere since 2010. Can you check if this website gives you any reasonable emoji?

[2016-06-01 18:49] helenst commented on #283
Ah, no it didn't work on that page either. But I found what I needed and installed `ttf-ancient-fonts` so now I see two little black hearts (I don't know what I have to do to get coloured hearts, my phone shows it in colour :) It sounds like it works by default for most people though, so maybe it's fine.

[2016-06-01 19:01] helenst commented on #283
For the record ... colour emojis for Firefox: http://www.omgubuntu.co.uk/2016/03/enable-color-emoji-linux-svg-font sadly not Chrome. Now tempted to switch browsers for the full emoji experience :dolphin::sparkling_heart::tulip:

[2016-06-17 20:39] aniav commented on #272
I have removed nose-progressive and introduced py.test. I have also created an account for us on codedov for code coverage visualisation: https://codecov.io/gh/DjangoGirls/djangogirls 🎉

[2016-06-17 20:39] #272 closed

[2016-06-17 21:16] aniav commented on #265
Sorting for sponsors is not usable any more as Sponsors are global and there should be one sponsor that is attached to many events not one sponsor of the same name per event. I have added sorting by name and searching by name.

[2016-06-17 21:16] #265 closed

[2016-06-17 21:39] williln commented on #265
Thanks @aniav!

[2016-06-17 22:01] helenst commented on #272
@aniav This is so awesome, thank you! :sparkling_heart:

[2016-06-18 12:27] xrmx opened #286 "save & go to next from applications does not go to the next applicant"
If i am here:
https://djangogirls.org/turin/applications/4

i expect "save and go to next" to get me to the url with the next submission by id:
https://djangogirls.org/turin/applications/5

Instead i get to a different applicants everytime i click.

While this looks like is made on purpose i think the label of the button is misleading.

We voted collegially on another medium and have to copy the v

[2016-06-18 14:12] xrmx opened #287 "make it possible to change the email of applicants"
We have a few applications with typos in the email field but we can't change them.

[2016-06-19 19:44] xrmx opened #288 "Warning for admins displayed to applicants on rsvp"
When the applicants clicks the rsvp yes link the page show this warning:
[code]
It looks like this should be shown to logged admins only.

You can reproduce it here:
https://djangogirls.org/turin/rsvp/SwQ50mpDZnMqgD9Xrv7Esd0B

[2016-06-28 18:49] #244 closed

[2016-06-28 18:50] aniav commented on #288
Fixed, thank you! :)

[2016-06-28 18:50] #288 closed

[2016-06-28 18:55] #286 closed

[2016-06-28 18:56] aniav commented on #286
@xrmx the idea od Save and go to next is that it's always randomly picked so you don't vote on the same  people at the same time and you make your votes more reliable. I have changes the text on the button so the person knows the next application will be picked randomly. Thank you for your input :)

[2016-06-28 19:00] aniav commented on #92
I have added sorting by any column some time ago, just forgot to write here @williln, but didn't resolve the original issue 🌴

[2016-06-28 21:25] xrmx commented on #288
Thanks!

[2016-06-28 21:34] aniav commented on #283
I think I can close this now ⚡

[2016-06-28 21:34] #283 closed

[2016-06-28 21:39] xrmx commented on #286
Again, thanks!

[2016-06-29 10:25] helenst opened #291 "Default graphic for coach photo"
Some coaches don't supply a picture of themselves. If you upload no image for a coach, it doesn't line up very well on the site. It would be nice for it to display a default graphic if you don't upload anything. e.g. some kind of anonymous head outline, or perhaps something more creative.

[2016-06-29 18:15] aniav commented on #206
It seems this has been fixed already :)

[2016-06-29 18:15] #206 closed

[2016-06-30 16:28] #205 closed

[2016-06-30 17:00] aniav commented on #139
@patjouk do you think this is implemented as you need it already? :)

[2016-07-07 18:49] aniav commented on #164
I think we can close it for now. The jobs app has quite a lot of tests and a coverage of 91% 🎉

[2016-07-07 18:49] #164 closed

[2016-07-13 05:41] jdelbello opened #294 "Broken link using search function for tutorial"
When searching in the Django tutorial, if the current page is among the search results, the link to the current page is broken.

For example,
1. Navigating to "Your first Django project!"
2. Searching for "runserver"
3. Clicking on the current page's link

It seems that the search results should be cleared and the view reset to the background page once a link within the search results is clicked.

[2016-07-15 21:19] aniav commented on #294
Hi @jdelbello, thank you for creating this issue but I will have to close it - the search functionality is prepared fully by @gitbookio and we aren't able to fix it. Sorry and thank you for the time you have taken to fill the issue! Hugs! ✨

[2016-07-15 21:19] #294 closed

[2016-07-22 18:17] olasitarska commented on #167
I don't think we're actually in need for that :( Closing for now!

[2016-07-22 18:17] #167 closed

[2016-08-15 16:59] #228 closed

[2016-09-05 12:00] patjouk commented on #240
Since we received a few emails about that, I've looked at this issue: the problem is that we never ask for the user timezone. `now` entered by the user is considered as UTC, even if their timezone is not UTC.
So, if they enter 6PM, the form will be open when the server reaches 6PM.
I'll see what I can do to fix this.

[2016-09-06 16:35] wattawak opened #306 "Broken layout on mobile"
on https://djangogirls.org/denver/, there is a horizontal scroll and whitespace on the right-hand side of the screen when viewing the site on mobile

[2016-09-11 15:25] aniav commented on #291
That is implemented now! :)

[2016-09-11 15:25] #291 closed

[2016-10-03 09:22] thibaudcolas opened #309 ""Access to Django Girls website" HTML email sent as plain text"
I've received the "Access to Django Girls website" from hello@djangogirls.org to get the access details of the new event's website.

This email is HTML, but it is displayed as plain text:

[code]

Looking at the email's body, it is sent with `Content-Type: text/plain; charset=utf-8` which I think would be the cause of the issue.

Looking at the site's codebase, I think this is where the problem is

[2016-10-03 11:53] #175 closed

[2016-10-27 23:30] aericson opened #310 "An item in /maceio is broken"
Please see screenshot attached.

I believe the problem is in
[code]

https://djangogirls.org/maceio/
![2016-10-27-202643_1850x744_scrot](https://cloud.githubusercontent.com/assets/692542/19789192/2e926b7a-9c84-11e6-8029-404fa6b13ace.png)

[2016-10-28 14:45] patjouk commented on #310
Thanks for opening this issue. It's now fixed :wink:

[2016-10-28 14:45] #310 closed

[2016-11-05 11:11] burhan commented on #287
Can you explain exactly what is required here?

[2016-11-05 11:50] KatuBeltz commented on #287
I'll work on that ticket today. :)

[2016-11-05 12:37] EmadMokhtar commented on #309
PR created :)

[2016-11-05 13:10] burhan commented on #125
How about https://github.com/DjangoGirls/djangogirls/pull/313

[2016-11-09 09:39] joncasdam commented on #276
@patjouk may I work on this one?

[2016-11-09 09:43] joncasdam opened #316 "Upgrade to Django 1.10"
- Install Django 1.10
- Update requirements
- Fix what's broken! :)

[2016-11-09 09:47] patjouk commented on #276
Yes :)
Thanks!

[2016-11-09 18:39] wattawak commented on #306
@ludw you can see that we did set max-width:100% on the iframe for the map, but we're still having the issue

[2016-11-09 19:58] ludw commented on #306
On what devices and browsers do you have this issue?

[2016-11-09 20:02] wattawak commented on #306
iPhone 6s // Safari

[2016-11-09 20:10] ludw commented on #306
Okay, I did some investigation and it looks like it's the word "programming" in the H1 at the top that get's to big.

I think the best way to solve this is to add some css to the event page to make the text smaller on mobile devices. I'll see if I can get a patch for that merged since this seems to be an issue for pretty much all event pages.

If you want a quick workaround you could try setting o

[2016-11-15 10:19] bmispelon commented on #287
For anyone looking to work on this ticket, I think a solution/workaround might be to mark the `rsvp_yes_code` and `rsvp_no_code` fields as `editable=False` in the model definition (`Application` inside `applications/models.py`).

This would work because the two fields are the ones preventing someone from changing the email in the admin (they require a value but it's not clear what to put in them).

[2016-11-25 17:56] #306 closed

[2016-12-01 10:32] #287 closed

[2016-12-02 03:07] jacebrowning opened #325 "Blank image for events shared to Facebook"
This is a possible duplicate of https://github.com/DjangoGirls/djangogirls/issues/179, but I'm not seeing any picture for our event:

![screen shot 2016-12-01 at 10 05 52 pm](https://cloud.githubusercontent.com/assets/939501/20821654/5b6494da-b812-11e6-80a6-bbc81319cbe2.png)

I'm not sure if this is the root cause, but I noticed that the first image to load (https://djangogirls.org/static/img/logo

[2016-12-02 03:28] jacebrowning commented on #325
This could just be a random glitch. Someone else shared it with this result:

![screen shot 2016-12-01 at 10 27 18 pm](https://cloud.githubusercontent.com/assets/939501/20822033/67a379c0-b815-11e6-847e-d49e3a986cdb.png)

[2016-12-02 03:30] jacebrowning commented on #325
I edited my Facebook post, resaved, and the image appeared.

[2016-12-02 03:30] #325 closed

[2016-12-04 20:33] helenst opened #329 "Coverage incorrectly reported"
codecov.io says applications app coverage is 100% but it is not.

It doesn't seem to be including all the files, e.g. here:

https://codecov.io/gh/DjangoGirls/djangogirls/tree/0e6089bd1f05944dc55afb339bab261dcc5b140a/applications

It also lists a test file as having test coverage which doesn't seem right.

[2016-12-06 12:05] helenst commented on #329
![screenshot-codecov io 2016-12-06 11-55-01](https://cloud.githubusercontent.com/assets/217966/20924698/d5ca8162-bbaa-11e6-8f65-8da2d303d962.png)

I can't see why it would include `test_forms.py` (which shouldn't be there) but not `models.py` (which should be there).

FYI `pytest --cov` gives the following for the applications app:
[code]

There are similar problems in the rest of the app.

[2016-12-10 23:43] ulgens commented on #45
Are there any plan to split it into smaller issues? The idea sounds nice but it's hard to work on.

[2016-12-11 00:09] ulgens opened #331 "Vagrant Environment"
Hey,

I think that creating a Vagrant environment for development purposes would be very useful. It could create an easier setup for starting and also more standardized dev. environment. Are there any specific reason not to do it?

[2016-12-11 19:14] #309 closed

[2016-12-11 19:21] olasitarska commented on #331
Not sure if I've got an opinion on this -- I personally don't use vagrant, but maybe others do?

[2016-12-11 22:17] helenst commented on #331
Recent Vagrant convert here! I think this sounds like a good idea. Things like postgresql setup can be tricky  on some platforms and this could make it easier for people to get set up and start contributing :smile:

[2016-12-11 22:17] olasitarska commented on #331
Let's do it then! :)

[2016-12-12 07:54] ulgens commented on #331
@olasitarska Can you assign the issue to me? :)

[2016-12-12 09:35] normade commented on #331
Dear @ulgens, dear @olasitarska, good idea! There is a Vagrant box for Django contributors available [here](https://github.com/django/django-box) and we are using [this one](https://github.com/transcode-de/django-vagrant-box) made by @keimlink for our daily purposes, you could check the repository to see if you could use some or all features as well for the Django Girls Vagrant box.

[2016-12-12 11:01] ulgens commented on #331
@normade I'll check them, thank you!

[2016-12-16 23:30] helenst commented on #329
I *think* this is fixed by cf8fc6bbeebbaa36276dff563f844857f7655171 - but for some reason you have to go directly to that commit to see the correct file coverage report: https://codecov.io/gh/DjangoGirls/djangogirls/tree/cf8fc6bbeebbaa36276dff563f844857f7655171 and the default view continues to show incorrect file lists (and references the previous commit ID). Perhaps will be fixed by a commit tha

[2016-12-16 23:31] #329 closed

[2016-12-31 20:11] cbohara opened #334 "change 'where are you from?' to 'where do you live?'"
Hello!  I am a first time organizer.  I was confused while reviewing applications by the question 'Where are you from?'  It seems like it would be more appropriate to ask 'Where do you live?'  That way we have a better idea if the applicant can realistically attend.  Thanks!

[2016-12-31 20:14] #334 closed

[2017-01-07 12:49] aniav commented on #316
Done! :)

[2017-01-07 12:49] #316 closed

[2017-01-07 13:25] asendecka opened #342 "Admin triaging of new city applications."
Ticket for: https://trello.com/c/ku0CFC3b/2-create-triaging-of-the-submitted-organization-requests

We need to implement the following (let's split it into smaller bits and pieces once we have a general structure in place)

- [x] Add `status` to Event application model with options: `NEW | IN REVIEW | ON_HOLD | ACCEPTED | REJECTED`, default: `NEW`
- [x] Add `rejection_reason` to Event application

[2017-01-07 13:26] asendecka commented on #342
We might split some of the above to separate tickets, so we can work in parallel after we have main things: status, accept/reject methods and new fields created.

[2017-01-07 15:06] olasitarska opened #346 "We should be mocking all requests to external APIs in tests"
To reproduce: run tests without internet connection :-)

[2017-01-07 15:33] olasitarska opened #349 "Winter Sprint -- post deployment tasks"
- [x] Upload json credentials for Google Apps to PythonAnywhere

[2017-01-07 15:34] olasitarska commented on #346
Maybe one for @patrys?.. :)

[2017-01-07 17:58] kirberich commented on #349
- [ ] Set up hourly task to run manage.py handle_emails

[2017-01-07 20:32] helenst commented on #346
Keepning this open as `test_adding_organizer_as_superuser` still tries to do stuff with Slack.

[2017-01-08 13:13] #342 closed

[2017-01-08 13:17] olasitarska opened #357 "Tidying up loose ends in Event Application triaging"
- [ ] Latitude & longtitude of the city/country needs to be fetched from the API when EventApplication is created (in save method?)
- [ ] Logic for copying old event data if the event is an n-th event in given city
- [ ] Connect creating / changing email accounts in create_event
- [ ] Removing old organizers if the event is an n-th event in given city
- [ ] Sending acceptance email with confirmati

[2017-01-08 14:35] #346 closed

[2017-01-08 16:28] olasitarska commented on #357
Google Apps in progress: https://github.com/DjangoGirls/djangogirls/pull/360

[2017-01-09 11:07] aniav opened #361 "[Core cleanup] Move story to a separate app."
Core app has grown a lot in the past months. We shouls move things not related to Event to other apps. While moving it to another app we will have to create migrations that move models to other app while maintaining the data. Django migrations can do that. Ping me for information on how to do that.

This issue is for the Story model and views.

[2017-01-09 11:07] aniav opened #362 "[Core cleanup] Move ContactEmal to a separate app."
Core app has grown a lot in the past months. We shouls move things not related to Event to other apps. While moving it to another app we will have to create migrations that move models to other app while maintaining the data. Django migrations can do that. Ping me for information on how to do that.

This issue is for the ContactEmail model and views.

[2017-01-09 11:08] aniav opened #363 "[Core cleanup] Move sponsor to a separate app."
Core app has grown a lot in the past months. We shouls move things not related to Event to other apps. While moving it to another app we will have to create migrations that move models to other app while maintaining the data. Django migrations can do that. Ping me for information on how to do that.

This issue is for the Sponsor model and views.

[2017-01-09 11:09] aniav opened #364 "[Core cleanup] Move coach to a separate app."
Core app has grown a lot in the past months. We shouls move things not related to Event to other apps. While moving it to another app we will have to create migrations that move models to other app while maintaining the data. Django migrations can do that. Ping me for information on how to do that.

This issue is for the Coach model and views.

[2017-01-09 11:10] aniav opened #365 "[Core cleanup] Move user to a separate app."
Core app has grown a lot in the past months. We should move things not related to Event to other apps. While moving it to another app we will have to create migrations that move models to other app while maintaining the data. Django migrations can do that. Ping me for information on how to do that.

This issue is for the User model, manager and views.

[2017-01-09 11:14] aniav opened #366 "[Core cleanup] Rename core to event"
This dependends on #361, #362, #363, #364, #365.

Core app has grown a lot in the past months. We should move things not related to Event to other apps. When this is done we can rename the core app to event. We should also decide what to do with helpers/utils used in multiple apps. Let's discuss this topic here before implementing.

I would propose doing a list of things used in multiple apps and

[2017-01-09 22:27] asendecka commented on #357
Cloning event done in #369

[2017-01-12 13:59] yakupadakli commented on #361
https://github.com/DjangoGirls/djangogirls/pull/370

[2017-01-15 16:27] #361 closed

[2017-01-15 21:08] #349 closed

[2017-01-15 22:21] olasitarska commented on #357
Google Apps done in https://github.com/DjangoGirls/djangogirls/pull/375

[2017-01-16 11:03] yakupadakli commented on #363
https://github.com/DjangoGirls/djangogirls/pull/376

[2017-01-19 18:13] patjouk opened #380 "[organizer form] Change previous event list to a search field"
When applying to organize an event, [people can tell us](https://djangogirls.org/organize/form/previous_event/) if they already organized one event.
Problem: they have to look for their event in a drop down menu with more than 200 items. It's super hard to do, especially on a phone.

We could change this field to a search field or just a regular text field.

![capture d ecran de 2017-01-19 19-07-3

[2017-01-19 18:16] patjouk opened #381 "[Organizer form] checkboxes size is wrong on small devices"
Checkboxes on the [prerequisites page](https://djangogirls.org/organize/prerequisites/) of the organizer form look good on a computer but become super tiny on a phone.

![capture d ecran de 2017-01-19 19-13-50](https://cloud.githubusercontent.com/assets/481052/22119363/a33a3f28-de7b-11e6-9ce8-1bf5adf25425.png)

[2017-01-19 19:11] aniav opened #382 "Optimize applications page."
Currently the applications page will create a DB query for each row in the applications list, to check if the request.user has already scored the application. This happens because the `scored_by_user` templatetag is using a db query. We should remove the query from the templatetag completelly. We should retrieve applications with their scores and anonymize them in python code while processing the

[2017-01-20 18:02] #363 closed

[2017-01-21 23:16] #380 closed

[2017-01-21 23:17] #381 closed

[2017-01-22 20:54] olasitarska commented on #357
Coordinates in #385

[2017-01-22 22:54] olasitarska commented on #357
I think "@asendecka Removing old organizers if the event is an n-th event in given city" is actually not necessary, as I just checked and organizers are currently not copied when event is copied.

[2017-01-23 10:00] patjouk opened #387 "[Copy Event] latest website should be "city" and not "city+number""
When you copy an event, the latest event should `djangogirls/city` and the previous one `djangogirls/city1`.

Right now, when you do a copy event, the previous event is not changed to `city1` but stays `city` and the new one is `city1`. If you copy it to create a third event in the same city, the website will be `city12`.

[2017-01-23 10:23] patjouk opened #388 "[Check-in emails] Not all organizers use the application form"
Some organizers use google form and not our application form. If they are on time, they will still receive a check-in email.

[2017-01-24 11:31] #225 closed

[2017-01-24 13:17] yakupadakli commented on #364
https://github.com/DjangoGirls/djangogirls/pull/390

[2017-01-24 17:34] aniav commented on #388
What is the expected behaviour here? How do you think this should be handled?

[2017-01-24 17:51] #364 closed

[2017-01-26 07:41] yakupadakli commented on #362
https://github.com/DjangoGirls/djangogirls/pull/392

[2017-01-26 15:10] patjouk commented on #387
Update: Event website titles are not changed too.

[2017-01-26 15:14] aniav commented on #387
This will be resolved in my PR #391. I think it's mostly done, I need to check if all places are changed.

[2017-01-26 15:23] patjouk opened #396 "[Check-in emails] Wait at least a week before sending an email"
I've just deployed an event that will happen in March: 5 min after that, the organizer received a check-in email :smile:
We should at least wait a week before sending a check-in emails.

[2017-01-30 14:24] davidism opened #398 "Admin considers current events "past" and won't allow editing"
This bit me when I wanted to update our page the morning of the event. The admin still showed all the pages, but wouldn't allow editing them; the fields were displayed as static text instead of inputs. Luckily I got around this because the admin still allowed creating completely new pages and changing their order, I just had to get it all right in one shot.

The admin should allow editing until at

[2017-02-01 09:27] patjouk commented on #398
Will be happy to see a PR about that :+1:

[2017-02-02 09:43] patjouk opened #400 "[Copy event] Stats from previous event shouldn't be copied"
When you clone an event, you also clone the stats of the previous one.

[2017-02-02 09:48] patjouk opened #401 "[Website] Link broken on Foundation page"
When you click on links in the [Foundation page](https://github.com/DjangoGirls/djangogirls/blob/master/templates/core/foundation.html), it automatically put `https://djangogirls.org` before the URL. Maybe an issue with markdown?

[2017-02-02 14:58] #400 closed

[2017-02-02 19:09] helenst opened #406 "SVG logos"
It would be neat to support SVG logos for sponsor companies. They often supply them in this format, but currently the site won't accept them as uploads.

[2017-02-14 11:43] #401 closed

[2017-02-18 15:55] #396 closed

[2017-02-21 20:10] olasitarska commented on #388
@patjouk detecting google form seems like a wrong hack, as some of them might be using typeform, etc... Maybe we should just send this email if website is not live, and disregard the application form here?

[2017-02-22 20:01] asendecka opened #419 "Rename gmail for previous events"
We recently fixed renaming email if there is completely new team organizing the event. However, it changes e-mail on Event only for previous event. If the same team organized first two editions of DG in the same city and then different team is organizing third one, second event will have email changed, but first one will not.

[2017-02-28 11:25] patjouk commented on #388
It's a good idea.

[2017-03-01 17:31] sagayev opened #425 "All posts are listed with their full text"
https://tutorial.djangogirls.org/en/django_templates/

I think in below code **linebreaksbr** should be replaced by **truncatechars:200**. Otherwise, there is no need to create post_detail pages, because all posts are listed with their full text.

blog/templates/blog/post_list.html
[code]

[2017-03-01 18:06] #425 closed

[2017-03-20 20:37] #398 closed

[2017-03-20 22:21] aniav commented on #139
It seems to be implemented and working, thank you! 🥇

[2017-03-20 22:21] #139 closed

[2017-03-22 13:56] peconia opened #427 "Add "Additional Information" field to organize event form"
I just filled in the form to organize an event and would have liked to include some additional information with the application. Now I ended up sending a follow up email instead.

It would be nice to add a text field on the "workshop" part of the organiser application form for "additional information" so that there is an option to convey any extra information about the event.

[2017-04-23 17:07] yakonoops opened #428 "chromebook starting webserver"
This command:
python manage.py runserver 0.0.0.0:8000

Did not work on chromebook, user had to use port 8080 instead and add to ALLOWED_HOSTS in setup.py: django-girls-<user-name>.c9users.io

[2017-05-02 18:36] rsd opened #429 "Sponsor app error"
after a clean install:

[code]

[2017-05-06 08:56] ulgens commented on #428
Hey @yakonoops , can you please give more detail about how didn't this comand work? Is there any error message?

[2017-05-06 09:11] ulgens commented on #429
Hey @rsd, i couldn't replicate the error with a fresh install. Are you sure that all files of the project is unchanged?

[2017-05-06 16:35] jualvarez opened #430 "Second click in RSVP confirmation shows an error"
If a participant clicks twice on the RSVP confirmation link, the second time it throws an error.
Also related, once the RSVP is confirmed it cannot be changed to cancelled, it throws the same error.

The error says:
"Something went wrong with your RSVP link. Please contact us at <event email> with your name."

Participants get really anxious although the confirmation was received :)

[2017-06-13 09:01] tooxie opened #432 "Broken links"
In the [Django Girls Berlin](https://djangogirls.org/berlin/) page, the links at the top "Schedule" and "Partners" point to the wrong anchors. Schedule points to "#coach" instead of "#schedule", but the problem with "Partners" is that the actual anchor name is "partners and sponsors" (yes, with spaces) so it should be "#partners%20and%20sponsors".

[2017-06-13 13:01] Liriela opened #433 "Block changes for the past events applications"
A feature to block changes for the past events' applications decisions. Not to be able to change past events  status of selected/all applications.

[2017-06-15 08:33] #432 closed

[2017-06-17 07:39] rsip22 opened #434 "Admin: Website contents not responsive on tablet"
I'm trying to edit the website contents (values) on the website, but I can't save the modifications because the text box overlaps the save button. Since I'm using a tablet, I can't just drag the corner to change the size of the text box. I believe a simple change on the template would fix this.

I'm attaching a screenshot of how it's displayed. Let me know if you need any more info.

![img_1933](h

[2017-06-26 07:54] magul opened #435 "settings.STORE_DISCOUNT_CODE is not set"
See:
[code]

[2017-07-19 19:59] asendecka opened #436 "When copying the event we should use chosen website_slug from EventApplication"
If we try to create a new event in the city where DG workshop already happened in the past, but we want to have customized website_slug which is different from the previous Event one, we will end up having problems creating the event, because our current `copy_event` code is copying all data from previous event, instead of using `website_slug`.

What is happening right now:
- There is a past event

[2017-09-17 13:15] rix0rrr opened #442 "Mention PyCharm as supported editor?"
Hi all,

After just coaching at a DjangoGirls event, and encouraging my own team to use PyCharm (as opposed to other editors like Atom), it strikes me how much easier my team had it than other other participants, especially around virtualenvs and running the code.

Some examples:
- It's available on all platforms, and works the same on all platforms.
- They don't have to use the console window on

[2017-09-17 15:16] aniav commented on #442
Our main goal is to give people the option to use after the workshops. PyCharm is not cheap and if they learn using it on the workshops they will end up with trial edition expired and with no good knowledge of ther editors to use, as they don't give the mentioned power ups. I am not really a fan of mentioning it or suggesting to attendees. I would rather see a list of extensions for other editors

[2017-09-18 06:09] rix0rrr commented on #442
PyCharm's Community Edition is totally and perpetually free, so price needn't be a blocker.

[2017-09-18 11:38] agagata commented on #442
I agree that PyCharm is a useful tool and could be used on Django Girls workshops. Having said that, I'm not sure we should teach attendees to do everything in PyCharm - knowing your way around "bare" terminal is a good skill to have.

[2017-09-18 15:33] aniav commented on #442
Ok so with the Community Edition this is a completely different case. I didn't know about that. I am also not a fan of introducing helpers for everything we use but I accept the scope of this issue :)

[2017-09-18 15:33] aniav commented on #442
Ah, one thing - this issue is for the tutorial repository, not the djangogirls website repository.

[2017-09-18 15:49] rix0rrr commented on #442
Knowing your way around a terminal is definitely a good skill to have. There's a time and place to learn it though, and I'm not sure the very first day when you're going to do something you've never done before is the time to do it.

I would like to remove as much friction as possible, so the participants can get a successful result (and maybe to a little more interesting parts like HTML) quicker.

[2017-10-31 10:20] thibaudcolas opened #445 "description block with HTML tags break the site's rendering"
On some pages, the `description` block contains HTML tags. This is problematic because it is used inside of `<meta name="description" content="">`, which expects its value to be a string. Here is an example of the resulting invalid HTML:

[code]

I spotted this issue in `password_reset_done` and `password_reset_complete`: https://github.com/DjangoGirls/djangogirls/blob/0730e5a5ddffea1ab830074aaf29

[2017-11-01 21:26] lightstrike commented on #445
@thibaudcolas Good catch, the registration `description` block and meta `description` block are not related in anyway, just a fun namespace collision 😅. I'd recommend changing the block name from `description` to `registration_message` or something better in [templates/registration/base.html](https://github.com/DjangoGirls/djangogirls/blob/a4c9c5489dc74dbe2d9ceeaf9ee06857bc40b7b4/templates/registr

[2017-11-03 18:03] thibaudcolas commented on #445
Thanks @lightstrike, I'll try to make a PR along those lines 🙂.

[2017-11-03 21:20] thibaudcolas commented on #442
@rix0rrr I think you should actually close this issue and open one on the [tutorial repository](https://github.com/DjangoGirls/tutorial), so people watching that can chime in. There are already a few issues mentioning PyCharm on there.

Personally, I agree with what the tutorial says at the moment (https://tutorial.djangogirls.org/en/code_editor/):

[2017-11-09 21:12] rix0rrr commented on #442
I will move the topic.

But for someone who's barely literate in computers to learn the command line, working directories, PATH settings, and a separate editor... not sure I agree that it's simpler.

[2017-11-09 21:24] rix0rrr commented on #442
Moved to [here](https://github.com/DjangoGirls/tutorial/issues/1169).

[2017-11-09 21:24] #442 closed

[2017-11-17 23:58] #445 closed

[2017-12-09 11:22] honzajavorek opened #449 "Number of past events"
Hi, I'd like to be able to get data about past events we organized in the Czech Republic, programatically (so it works without maintenance even for future). Is this information somewhere available online? If nothing, at least past places & dates would be good enough for me.

[2017-12-22 22:12] aniav commented on #449
@honzajavorek hmm, how would you like to retrieve this data? Somewhere in the admin? If you are the organizer of all events you should have the details of past events. If you are not the thing is a bit more complicated and for now not really achievable programmatically. But let's discuss it further so we know what we can do 💃

[2017-12-22 22:15] aniav commented on #434
Go on and make it! :)

(And sorry for the late reply :))

[2017-12-22 22:17] aniav commented on #428
I am afraid this issue is related to the tutorial repo and doesn't belong here. We also didn't receive any clarification as what happened so I am closing for now. Feel free to open on the tutorial repo whenever you have some details. It might have already been resolved there! 🎀

[2017-12-22 22:17] #428 closed

[2017-12-22 22:18] aniav commented on #362
This was done! 👍

[2017-12-22 22:18] #362 closed

[2017-12-22 22:20] aniav commented on #429
I have cleaned up the migrations and did a fresh setup last week, and this didn't happen, so I am closing for now 🌟

[2017-12-22 22:20] #429 closed

[2018-01-02 13:53] honzajavorek commented on #449
Meanwhile I gave up on auto-updated detailed stats like this, so never mind. I imagined something like an archive of past organized events on the website, which anyone could browse/scrape programmatically. I thought the past events are stored in database, just not listed on the site.

[2018-01-02 13:53] #449 closed

[2018-01-23 14:51] lilithxxx commented on #83
Assign this issue to me please as I am new to open source contributions. Please guide me how to do it.

[2018-01-28 08:20] kurianbenoy commented on #83
Can I take up this Issue?

All I need to change is In the model I need to set  `default=' '` and remove all `null = True`

[2018-01-28 12:03] EmadMokhtar commented on #83
@kurianbenoy If you set `blank=True` Django will save the default as empty string, so no need for `default=''`

[blank docs](https://docs.djangoproject.com/en/2.0/ref/models/fields/#django.db.models.Field.blank)

[2018-01-28 15:29] kurianbenoy commented on #83
Thanks @Emad ,
Can I take up this issue?

[2018-01-29 09:07] EmadMokhtar commented on #83
@kurianbenoy I think you can for sure, it's open source and you'll help the community ;).

You can check more with @olasitarska or @patjouk

[2018-01-30 23:51] aniav opened #454 "Don't block event deployment when we can't send an e-mail to one of the organizers"
This is a bug we currently have. Details below:

https://opbeat.com/django-girls/djangogirlsorg/errors/88/

[2018-02-23 21:56] GirlGeekUpNorth opened #459 "New event automation"
When a new event is approved, the previous url is not being archived correctly (number not being added to indicate the previous event)
Emails are also being archived even when there is an organiser in common with the previous event.

[2018-02-23 21:59] GirlGeekUpNorth opened #460 "Follow-up emails"
'Need any help' automated emails are being sent out to workshops even when they have live websites and applications are open

[2018-02-23 22:00] GirlGeekUpNorth opened #461 "Organiser emails being treated as case sensitive"
When organisers apply to host a workshop their emails seem to be being treated as case sensitive. This means that if we have a previous organiser using test@gmail.com and they apply to host another workshop using Test@gmail.com, then they have a second organiser account created for the new workshop.

[2018-03-25 22:57] gconnect commented on #156
I would like to work on this issue #176 what do I need to do to get started?

[2018-04-17 03:19] rsip22 opened #465 "Organizers can see other workshops' pages that aren't live when logged in"
How I noticed this:
- I was logged in as Django Girls Santa Maria organizer.
- I typed "djangogirls.org/brasilia" in the browser, which is an event that I know it will happen in four months
- It returned the template page for Brasilia, with the message "Hi there! You can see this page because you're logged in admin. When you want to make it public, go to your website section in the admin and click

[2018-06-14 20:59] arunikayadav42 commented on #465
Can i work on this issue :)

[2018-06-29 14:36] rjs1197 opened #475 "[Score setting] The maximum score is not set."
https://github.com/DjangoGirls/djangogirls/blob/09b498300bb3bf9a69292dbd36933485a8184a2c/applications/models.py#L245

Hi. I'm djangogirls organizer in seoul, korea. I'm giving the score of the participants, but I think this function doesn't seem to work properly.

[2018-08-15 17:50] jasoncartwright opened #481 "Logo looks fuzzy on a retina screen"
<img width="537" alt="screenshot 2018-08-15 at 18 26 45" src="https://user-images.githubusercontent.com/763913/44163722-0f8d1480-a0bc-11e8-9835-8d7a7cde3970.png">

[2018-08-17 04:52] khdc-me commented on #83
Hi everyone. What's the status on this? I'd like to take a stab at it, if at all poss.

[2018-08-21 20:17] das-g commented on #430
We (Django Girls Zürich) just got contacted by an applicant saying she got the message

when clicking the RSVP link. (She didn't say anything about clicking it twice, but it's of course possible that that's what she did. Is there any way we as organizers can find out? It looks like her RSVP status was updated alright.)

UX-wise probably related to #121.

[2018-08-28 21:36] mUtterberg opened #484 "New coaches "saved" but seem to be auto-deleting"
![screen shot 2018-08-28 at 5 32 47 pm](https://user-images.githubusercontent.com/35174396/44752299-92fd2b80-aae8-11e8-94d3-1fe382fa4ff4.png)
![screen shot 2018-08-28 at 5 32 59 pm](https://user-images.githubusercontent.com/35174396/44752300-92fd2b80-aae8-11e8-8c75-589b829c332c.png)

I've tried to add a coach twice today. Each time, I get a "saved" confirmation, but the coaches section in my admin

[2018-09-25 23:38] ramonsaraiva commented on #454
Hey @aniav could you add more context to this since `opbeat` is gone?

[2018-09-25 23:39] ramonsaraiva commented on #436
@aniav are you working (or still going to work) on this?

[2018-09-28 10:44] aniav commented on #454
Oh, I didn't get Opbeat is going to be gone. When an application event is being deployed we will create a webpage for it, create the accounts for organizers and send the account details to them. Sometimes the organizers' e-mails are spelled wrong causing the sending mechanism to fail. The code should take this situation into account so that failed e-mail sending doesn't cause the whole deployment

[2018-09-29 17:48] ramonsaraiva commented on #366
Can you mark #362 as done? https://github.com/DjangoGirls/djangogirls/issues/362

[2018-09-29 17:49] ramonsaraiva commented on #366
I can potentially tackle #365

[2018-10-03 22:17] ramonsaraiva commented on #475
Hey! I'm not able to reproduce this, could you provide a step by step flow to reproduce this issue? Keep in mind that scores are unique for an user and an application.

[2018-10-03 22:33] mUtterberg commented on #484
I'm unable to save coaches from the admin tab for viewing coaches, but I
was able to add them as page dependencies in the "edit website contents"
tab for web content pages in admin. Will comment in more detail tomorrow,
but I did find a workaround.

--Marissa Utterberg
Data Science & Web Development
Find Utterberg Data & Development at utterbergdatadev.com
<http://utterbergdatadev.com>

On Wed, Oc

[2018-10-03 23:36] ramonsaraiva commented on #484
Thank you!

[2018-10-16 01:30] rjs1197 commented on #475
It's too cumbersome to implement the steps because the answer is late. If this issue is only me, We'll leave the problem next time. Thank you!

And I apologize for the short question. sorry!

[2018-10-16 01:30] #475 closed

[2018-10-20 17:53] #465 closed

[2018-10-20 18:14] #434 closed

[2019-02-15 19:45] amey-kudari opened #501 "Add global install for django"
Id love to write how and update it, tell me if you guys want me to do it. Global install on linux is normally a better option acc me

[2019-02-15 21:21] das-g commented on #501
What do you mean by "global install"?

Installing development dependencies with `sudo pip ...` into the **system site packages** is highly discouraged. Installing with `pip install --user` into the **user site packages** is fine for Python _applications_ the user wants to use as an end user. For _frameworks and libraries_ like Django, it's sub-optimal, because the user may work on several project

[2019-02-16 03:42] #501 closed

[2019-03-08 11:37] jasoncartwright opened #502 "Annual report is 4 years old"
<img width="572" alt="screenshot 2019-03-08 at 11 37 30" src="https://user-images.githubusercontent.com/763913/54026665-93ad0380-4196-11e9-87d5-9f7108afccaa.png">

https://djangogirls.org/donate/

[2019-03-08 11:39] jasoncartwright opened #503 "One-time donation widget isn't working"
<img width="1137" alt="screenshot 2019-03-08 at 11 37 59" src="https://user-images.githubusercontent.com/763913/54026695-aa535a80-4196-11e9-8a6f-5336ae6b7517.png">

https://djangogirls.org/donate/

[2019-04-13 14:24] thenewmona opened #504 "issue with tutorial introduction to python section"
Hi I am attending a Django Girls workshop in Grand Rapids, MI.

in the what if a condition isn't true section of the introduction to Python.

there is an error in the elif section

here is a screenshot of the lesson
https://snag.gy/EvwaXg.jpg

at the end of the lesson it is wanting us to do print ("my ears are hurting! : (")

this comes up with an error message.

When I did print("my ears are hurt

[2019-04-13 14:30] das-g commented on #504
Hi @thenewmona

Thanks for the report!

I've allowed myself to edit your issue description, to make the screenshot visible without having to follow the link.

[2019-04-13 14:34] das-g commented on #504
Can you clarify what didn't work?

[code]
(or without the space, as [in the tutorial](https://tutorial.djangogirls.org/en/python_introduction/#what-if-a-condition-isnt-true))
[code]
should both work just as fine as
[code]

Did you get any error message? If so, what did it say?

[2019-04-13 16:11] thenewmona commented on #504
Hi Rapheal,

I will try and recreate the error message later that I was getting.
One of the coaches here assisted me with getting it running properly.
and the recommended that I submit and issue report
Thanks for the response

[2019-07-08 22:32] #454 closed

[2019-07-22 01:43] vanessa commented on #382
Hey, @aniav! I'd like to know if this is still needed given the creation date. If yes, I'd like to give it a try, is that okay? 🙂

[2019-07-22 14:33] aniav commented on #382
@vanessa as far as I know yes, this is still needed :) Let me know if you need anything when you start doing it 👍

[2019-07-22 17:16] vanessa commented on #382
@aniav Thanks a lot! Can you assign the issue to me?

Another question I have, I didn't understand this part:

What does anonymization mean in this case?

[2019-07-23 13:27] aniav commented on #382
So right now when you go to the screen with applications and you try to order it by the score it will order it by the overall score, even the applications you didn't score yourself yet. Meaning you will see the applications in order with scores: 4.5, (hidden), (hidden), 3.5. So you already know other people have scored the people with hidden score as high.

Ideally when ordering by score we should

[2019-07-23 15:39] vanessa commented on #382
Got it. Thanks for clarifying.

[2019-07-23 16:05] vanessa opened #510 "Use webpack instead of gulp"

[2019-07-29 19:36] #502 closed

[2019-07-29 19:37] aniav commented on #502
It's still a bit old, because it's 2016-2017, but currently there is no newer report, so I'm closing this for now 🙌

[2019-07-29 19:50] aniav commented on #435
This is now fixed (better late then never 👍 )

[2019-07-29 19:50] #435 closed

[2019-08-24 06:35] tapaswenipathak opened #512 "Retaining women in open source: Organising Open Source Day monthly"
Hi folks: Finding an active open source contributor or maintainer woman is hard. Internships give a break in open source, if observed there is no retention of women in open source and research[1] suggests. Implementing open source day per month letting woman work with mentor and contribute in an open source project they would like would be practical implementation than just publishing research and

[2019-08-25 09:05] das-g commented on #512
Hi Tapasweni

Thanks for reaching out to Django Girls with this project. However, be aware that https://github.com/DjangoGirls/djangogirls/issues is the issue tracker for the Django Girls _website_ https://djangogirls.org/ and the software used to run and maintain it (i.e., the source code hosted at https://github.com/DjangoGirls/djangogirls). This issue tracker is for reporting bugs and problems

[2019-08-25 09:15] tapaswenipathak commented on #512
On Sun, Aug 25, 2019 at 2:35 PM Raphael Das Gupta
<notifications@github.com> wrote:

Hey, these tickets are embark of the start of opensourceday; basically
mostly a poke. After an ack I am writing official proposal out. I
would love inputs on these tickets as well. :)

--
Tapasweni

[2019-08-25 09:21] das-g commented on #512
Neither "Django Girls foundation" nor "Django Girls HQ" are GitHub usernames nor do I think there are GitHub usernames for these organizations. The "@" was merely to indicate that I'm addressing them with that paragraph and not you (@tapaswenipathak) as the issue author.

Though maybe @DjangoGirls/committers and/or @DjangoGirls/support want to comment on this?

[2019-08-25 09:28] tapaswenipathak commented on #512
On Sun, Aug 25, 2019 at 2:51 PM Raphael Das Gupta
<notifications@github.com> wrote:

Ah my bad, little thing I pointed out, sorry if you felt bad. :)

--
Tapasweni

[2019-08-29 05:10] #512 closed

[2019-08-30 16:40] bcdickinson commented on #484
I've just hit this issue too. I think the problem is in the `CoachAdmin.get_queryset` method: https://github.com/DjangoGirls/djangogirls/blob/master/coach/admin.py#L21

It's restricting you to viewing/editing coaches that are already linked from an `EventPageContent` object, hence the (erroneous) "does not exist" message.

A possible solution would be require adding the coach to an `EventPageConte

[2019-08-30 17:13] das-g commented on #484
Permalink for posterity: https://github.com/DjangoGirls/djangogirls/blob/3b4a234ac1c92fffb83b551cce5da81ee3d83692/coach/admin.py#L21

[2019-09-11 02:42] amreshk005 commented on #366
@aniav can I work this.

[2019-09-17 11:41] seedhisadak commented on #461
https://github.com/DjangoGirls/djangogirls/pull/513

[2019-09-17 12:26] das-g commented on #461
Domain names (`gmail.com` vs. `GMail.com`, `some.example.com` vs. `sOmE.example.com`) should never be treated case sensitive. Whether the user part of an email address (the part in front of the `@`) is case sensitive actually depends on the email provider. Some might have separate mailboxes for `test@example.com` vs. `Test@example.com` that might even belong to different users, while other provide

[2019-09-17 12:32] das-g commented on #461
Also note that when your GMail account is `foobar@gmail.com`, all addresses of the form `foobar+anything@gmail.com` will also point to your GMail inbox. This is however a GMail convention and other email providers might or might not have the same addressing scheme or may employ different variants of it.

Though usually, one can assume that if someone give an address with a different part after the

[2019-09-19 15:01] ramonsaraiva commented on #461
@das-g could you provide an example of an e-mail provider that differentiates test@* from Test@* and points to different inboxes/users?

[2019-09-19 15:04] seedhisadak commented on #461
`abc@gmail.com` and `abc+test@gmail.com` can be treated as separate registrations. This gives everyone the ability to create separate registrations with a single email id (at least that is what we have at our firm, where it becomes easier to create test accounts using the same email id).

About lowercase vs uppercase, I am not sure I have ever come across any provider which does this. Please do sh

[2019-09-19 15:25] das-g commented on #461
I don't know of any specific current examples and they're probably rare enough that we can somewhat safely ignore this quirk. But it's something we should keep in mind in case it pops up. (The key point is that any provider is allowed to do that, so any day one could pop up that does it. Probably not one offering email accounts to the wider public, but who knows what all companies that provide the

[2019-09-19 17:31] ramonsaraiva commented on #461
Yep. At the same time I agree it is something viable I doubt providers would allow something awful like that. But you do have a point :-)

[2019-09-19 17:32] ramonsaraiva commented on #461
@seedhisadak I also agree that `abc@gmail.com` and `abc+test@gmail.com` should be treated as different users/registrations.

[2019-10-01 20:34] niftyrinki commented on #481
I want to work on this. Can I get a @2x image of the logo?

[2019-10-14 17:57] ltephanysopez opened #515 "Request for GitHub sponsoring Typeform broken"
The Typeform link on the GitHub sponsorship link is broken here: https://djangogirls.org/sponsor-request/ resulting in an error that reads "Typeform does not exist".

[2019-10-28 09:30] jasoncartwright commented on #503
Any update on this? It's been down for over 6 months now :(

[2020-03-28 21:46] stsewd commented on #83
Looks like this was already solved in https://github.com/DjangoGirls/djangogirls/pull/483

[2020-07-27 11:07] Aayushadh opened #527 "Recommend any further resources like Django for everybody specialization"
Add the name of course Django for everybody specialization(coursera) on list of what's next page  .

[2020-07-27 16:50] RachellCalhoun commented on #527
I like this idea but I think this belongs in the [Tutorial](https://github.com/DjangoGirls/tutorial/issues)

[2020-07-27 16:50] #527 closed

[2020-08-27 17:12] amakarudze opened #528 "Add information to Organize page for both in-person and remote workshops."
Currently all new event applications are suspended due to Covid-19. Django Girls support team is updating the organizer manual to support both remote and in-person workshops and the website needs to be updated to reflect that.

[2020-08-27 17:14] amakarudze opened #529 "Remove workshop box link"
Workshop box link is still active on the website. Needs to be removed so that it is not accessible since the store is now closed.

[2020-08-27 17:17] amakarudze opened #530 "Anonymise Country and Organiser in website backend."
Can the applications come through with Country & organiser names anonymised in the first instance?

[2020-08-27 17:23] amakarudze opened #531 "Update sponsors on website"
Check with sponsors who is still supporting us and update sponsors on website.

[2020-08-27 22:56] PluckyPrecious commented on #83
I think this issue needs to be closed.

[2020-08-28 00:54] #83 closed

[2020-09-03 19:15] amakarudze opened #533 "Fix Admin Add New Event link which is broken"
https://djangogirls.org/admin/organize/eventapplication/add/ is broken and gives a `NoReverseMatch at /admin/organize/eventapplication/add/` error.

[2020-09-03 19:52] amakarudze opened #534 "Automated Emails"
Check automated emails to ensure approved applications have login info sent out correctly (there was an issue with this before lockdown)

[2020-09-07 10:53] GirlGeekUpNorth opened #535 "Update Organiser Application Form"
Update application form as follows:

Add a question at the start of the application:
Are you applying to host a workshop remotely (online) or in-person?
Tick box responses - placed as the first question (for the moment can we stop them from selecting in-person, of if they do, have it move to a screen that advises we are not currently accepting applications for workshops in person and to check back

[2020-09-07 11:32] #529 closed

[2020-09-11 14:36] Filipe-squadlavi opened #536 "Vaga DataAnalyst QuintoAndar"
[Oportunidades] [São Paulo/SP] [Data Analytics] [CLT]
QuintoAndar é um aplicativo para locadores e locatários cansados da burocracia do tradicional processo de locação. Consideramos cada profissional importante e responsável pelo crescimento da empresa. Não nos importamos se você usa terno e gravata, shorts com chinelos ou se você tem tatuagens e piercings. Nossa preocupação se concentra na sua qu

[2020-09-14 07:12] #536 closed

[2020-09-14 07:14] magul commented on #536
@Filipe-squadlavi we do not treat our issue tracker as a job board.

To understand the purpose of having issues here you can start here: https://guides.github.com/features/issues/

[2020-09-15 14:11] amakarudze opened #539 "Fix test_adding_organizer_as_superuser in tests/core/test_admin.py"
[test_adding_organizer_as_superuser](https://github.com/DjangoGirls/djangogirls/blob/master/tests/core/test_admin.py#L49) in *tests/core/test_admin.py* is broken and is causing Travis CI to fail for all pull requests and needs to be fixed.

[code]

<img width="751" alt="Screenshot 2021-03-07 at 13 05 25" src="https://user-images.githubusercontent.com/13593285/110237743-46f79100-7f46-11eb-918a-d34a

[2020-09-15 14:13] amakarudze commented on #503
@GirlGeekUpNorth do we still have this problem? I tried accessing the form now and I can fill in my details. So not sure if the billing issues were fixed so we can close this issue. Thanks.

[2020-09-15 14:35] amakarudze opened #541 "Automate updating of Patreon donation figures to ensure website has up-to-date amount"
For now, Patreon donations have to be updated manually each month to reflect changes on donations on our website. Patreon has an API we can connect to to get CSV file of donations. We need to write an API to automate the reading of donations given on Patreon to ensure website always has up-to-date figures.

[2020-09-17 02:13] #503 closed

[2020-09-17 02:14] #515 closed

[2020-11-05 11:39] #427 closed

[2020-11-05 11:39] #528 closed

[2020-11-05 11:39] #535 closed

[2021-03-07 10:39] #531 closed

[2021-03-07 11:08] amakarudze opened #562 "Fix test_manage_organizers_view_for_superuser in tests/core/test_admin.py"
[test_manage_organizers_view_for_superuser](https://github.com/DjangoGirls/djangogirls/blob/master/tests/core/test_admin.py#L25) in tests/core/test_admin.py is failing and giving the error below:
[code]
<img width="753" alt="Screenshot 2021-03-07 at 13 02 37" src="https://user-images.githubusercontent.com/13593285/110237720-1f082d80-7f46-11eb-97d7-bcff3c233c7c.png">

[2021-03-07 11:19] amakarudze opened #563 "Fix test_organizer_can_only_add_to_their_event in tests/core/test_admin.py"
[test_organizer_can_only_add_to_their_event](https://github.com/DjangoGirls/djangogirls/blob/master/tests/core/test_admin.py#L78) in tests/core/test_admin.py is failing and giving the error below:
[code]
<img width="749" alt="Screenshot 2021-03-07 at 13 16 17" src="https://user-images.githubusercontent.com/13593285/110237964-8a063400-7f47-11eb-8dcb-f192b9311d5a.png">

[2021-03-07 12:22] amakarudze opened #564 "Fix test_remove_organizer_as_superuser in tests/core/test_admin.py"
[test_remove_organizer_as_superuser](https://github.com/DjangoGirls/djangogirls/blob/master/tests/core/test_admin.py#L101) in tests/core/test_admin.py is failing and gives the error below:
[code]
<img width="829" alt="Screenshot 2021-03-07 at 14 19 07" src="https://user-images.githubusercontent.com/13593285/110239599-7f03d180-7f50-11eb-98aa-a277d5018678.png">

[2021-03-07 12:36] amakarudze opened #565 "Fix test_organizers_can_only_remove_from_their_events in tests/core/test_admin.py"
[test_organizers_can_only_remove_from_their_events](https://github.com/DjangoGirls/djangogirls/blob/master/tests/core/test_admin.py#L117) in tests/core/test_admin.py is failing with the error below:
[code]
<img width="818" alt="Screenshot 2021-03-07 at 14 35 56" src="https://user-images.githubusercontent.com/13593285/110239993-7613ff80-7f52-11eb-9861-21a4ddc2d6d3.png">

[2021-03-07 12:40] amakarudze opened #566 "Fix test_organizers_cannot_remove_themselves in tests/core/test_admin.py"
[test_organizers_cannot_remove_themselves](https://github.com/DjangoGirls/djangogirls/blob/master/tests/core/test_admin.py#L142) is failing and giving the error below:
[code]
<img width="775" alt="Screenshot 2021-03-07 at 14 40 01" src="https://user-images.githubusercontent.com/13593285/110240118-0eaa7f80-7f53-11eb-88db-efdae703843b.png">

[2021-03-07 12:51] amakarudze opened #567 "Fix test_index in tests/core/test_views.py"
[test_index](https://github.com/DjangoGirls/djangogirls/blob/master/tests/core/test_views.py#L8) in tests/core/test_views.py is failing with the error below:
[code]
<img width="698" alt="Screenshot 2021-03-07 at 14 50 26" src="https://user-images.githubusercontent.com/13593285/110240419-7e6d3a00-7f54-11eb-87cf-6d423c7df751.png">

[2021-03-07 13:06] amakarudze opened #568 "Fix DeprecationWarning: Non-string passwords will no longer be supported in Requests 3.0.0."
<img width="930" alt="Screenshot 2021-03-07 at 15 05 16" src="https://user-images.githubusercontent.com/13593285/110240861-8fb74600-7f56-11eb-9d13-f4a767b02913.png">

[2021-03-07 13:09] amakarudze opened #569 "Fix RemovedInDjango30Warning: Remove the context parameter from ApproximateDateField.from_db_value()."
<img width="915" alt="Screenshot 2021-03-07 at 15 09 02" src="https://user-images.githubusercontent.com/13593285/110240979-1e2bc780-7f57-11eb-9eed-35a121fc8174.png">

[2021-03-07 13:47] #387 closed

[2021-03-19 07:50] amakarudze opened #571 "Django Girls website internationalization and localization"
Django Girls website is only displayed in English which is a problem for non-native English speakers. We would like the Django Girls website to be translated to the official language of the location of the visitor to the website, that is, should be in Portuguese for someone in a  Portuguese-speaking country or French if opened by someone in a French-speaking country.

[2021-03-19 08:08] amakarudze opened #572 "Add Stripe Integration to enable once off donations from our website"
Some corporate sponsors do not have PayPal and do not want to do bank transfers, preferring to pay by credit card. Since we removed Donorbox from the website, our supporters who want to make once-off donations via credit card face challenges donating to us. We need to add Stripe integration to our website to enable once-off donations via credit card.

[2021-04-26 15:03] #539 closed

[2021-04-26 15:03] #562 closed

[2021-04-26 15:03] #563 closed

[2021-04-26 15:03] #567 closed

[2021-04-30 10:51] amakarudze opened #577 "Server Error on Django Girls Website because of AttributeError: 'str' object has no attribute 'year'"
There is a consistent server error on the Django Girls website as shown below that needs fixing. The error is shown below:

[code]

[2021-05-03 13:03] DataCerealz commented on #484
This issue seems to be still open. I am currently organizing an event and I am running into the same problem.

If someone would drop a workaround as the pull requests don't seem to get approved that would be great.

Otherwise I will see during the next weeks if I can build a little html-boilerplate with inline css or something that can be copy pasted into the admin view form that looks good as a w

[2021-05-10 11:23] #577 closed

[2021-05-10 12:18] #533 closed

[2021-06-24 18:31] carltongibson opened #582 "Move to GitHub Actions."
Travis is now dead (or dying). We should move to GHA.

[2021-06-24 18:34] carltongibson opened #583 "Rename `master` branch to `main`."
Following Django and many other projects here.

Done here:  https://github.com/DjangoGirls/djangogirls/settings/branches

It's just whether the deployment has any hardcoded references.

[2021-06-24 19:12] amakarudze commented on #583
Yes, the deployment has a hardcoded reference which we can change. Have changed the deployment and renamed the branch from master to main.

[2021-06-24 19:12] #583 closed

[2021-06-30 14:04] amakarudze opened #590 "`ValueError: day is out of range for month` error causing 404 error on website when trying to apply to organize event"
Organizers get a Server error when trying to apply to organize an event due this line in core/views.py https://github.com/DjangoGirls/djangogirls/blob/main/core/views.py#L66 and results in this traceback below:

The history of this code is here:
https://github.com/DjangoGirls/djangogirls/commit/5986ef917719356915b8b9d63b5e6faca950ef0e#diff-df4b89f5f945910d50f8ffe6681085a9ff106bf2d73be7816c10bf6b9a

[2021-06-30 14:43] carltongibson commented on #590
Hey @amakarudze — I can't resolve this instantly: need to see what `event.date` exactly looks like — and **why** is was `str` and not an `ApproximateDate` in the original fix for #578 🤔.

Looking at it, the `ApproximateDate` object [has `__eq__` and `__lt__` logic for the comparison](https://github.com/dracos/django-date-extensions/blob/58ac24244c9391fc5c4575cb2fa4f79a69608bf1/django_date_extensio

[2021-06-30 14:55] carltongibson commented on #590
(Assigning myself so it's on my list…)

[2021-06-30 15:27] amakarudze commented on #590
Hey @carltongibson I think the server error has been an issue for more than a year now but with ApproximateDate, it would sometimes render and sometimes not resulting in multiple submissions. Not sure why that stopped working.

Ok, setting past to False in the context for now. Thanks for the advice.

[2021-06-30 15:32] carltongibson commented on #590
OK, let's keep this open and I'll have a look. Thanks @amakarudze!

[2021-06-30 17:41] amakarudze commented on #590
You're welcome @carltongibson.

I have changed to False and the server error hasn't gone away.

Also, our virtualenv is running Python 3.4 when it seems the system image is Python 3.5 as seen in the traceback above. I am also attaching the screenshot showing that. Could the Python have any effect maybe? I am running out of ideas.

<img width="755" alt="Screenshot 2021-06-30 at 19 29 17" src="https

[2021-07-01 08:10] carltongibson commented on #590
So... there's not enough info here for me to see what's going on.
That's OK, let's break it down. 😀

* Where are we seeing the errors? I think I need access to the server at this point. (Let's chat in private re that.)
* It can't be the **same** error no? ...

            {'city': city, 'past': date(event.date.year, event.date.month, event.date.day) < now_approx}

   If that's just ` 'past': False

[2021-07-01 09:09] amakarudze commented on #590
Hey @carltongibson, so the `'past': False` did solve the issue, however, there is another error for which I will create an issue as it's recurring. I will work with @GirlGeekUpNorth to get you access to the server for easier troubleshooting.

[2021-07-01 09:21] amakarudze opened #593 "'core.models.MultipleObjectsReturned: get() returned more than one Event -- it returned 2!' is causing server error on website"
When an organizer tries to apply to organise an event, they get a server error. The traceback shows there are multiple events with the same slug as shown below:

[code]

[2021-07-01 09:43] amakarudze opened #594 "Email notifications not being sent to hello@djangogirls.org when organizer submits new event application"
The server error on the website is occurring just after the organizer is sent an email confirmation for a new event application but just before Django Girls is sent an email notification to hello@djangogirls.org email address. This means that there is no way for DGF to know if there are new event applications that need approval.

[2021-07-08 07:20] carltongibson commented on #594
I can't see an error for this. Do you have a traceback?

[2021-07-08 08:04] amakarudze commented on #594
No, none. Just realised it is being affected by the other server errors so nothing we can do here. The crash is coming from elsewhere and just affecting this email notification is sent.

[2021-07-08 08:04] #594 closed

[2021-07-09 08:11] #582 closed

[2021-07-09 09:31] carltongibson opened #598 "Test failure: fixture `event_date` is a string..."
[code]

`event_date` coming from the `tests/organize/conftest.py` `data_dict` fixture is a string, leading to this error. A date is expected... 🤔

- Did this only just start failing? (What changed?)
- It's similar to an issue we saw in the logs no? (Again what changed?)

Will skip on main branch but this needs investigation.

[2021-07-09 09:45] carltongibson commented on #598
2505dd6cea1a1662166a3bf9836a7352f26b11a7 skipped the failing test here.

For a fix, un-skip, and resolve.

[2021-07-09 09:46] carltongibson commented on #590
2505dd6cea1a1662166a3bf9836a7352f26b11a7 skipped the failing test here.

Un-skip and ensure passing when fixing.

[2021-07-09 09:49] carltongibson opened #599 "Actions Workflow cleanups."
f72addf00609a4955c107e43a2888569ae1d1cf4 adjusted the actions workflow, leaving a couple of TODOs commented out.

- [x] Notifications
- [ ] Dependency Caching
- [ ] Notifying codecov.

Each one can be uncommented in a fresh PR, and seeing if it passes straight-off, or what adjustments are needed.
(I commented the codecov one initially trying to get the workflow to run; it may just work. GHA compla

[2021-07-09 10:27] amakarudze commented on #598
Hey @carltongibson, it's similar to what we saw in the logs but this functionality did not exist until recently when we added validation to prevent users from submitting the same application twice if a server error occurs as well as prevent them from violating the workshops should be 6 months apart rule. It boils down to the same issue though, how to compare `ApproximateDate` fields with today's d

[2021-07-12 16:31] amakarudze commented on #598
Hey @carltongibson. This works in my local environment but I use Python 3.8 + in my virtual environment. I am going to uncomment this test and see which version it passes with. If it's a Python 3.5 issue then bumping the version will fix this and probably the other server error we have been having because of dates.

[2021-07-13 14:26] #598 closed

[2021-07-13 14:59] #590 closed

[2021-07-14 12:23] amakarudze opened #608 "Gulp build fails when deploying website after upgrading Python image and bumping Python version to 3.7"
When running `node_modules/gulp/bin/gulp.js build` after making changes to the website, the command fails and gives the following error:

[code]

[2021-07-15 13:53] amakarudze opened #609 "Server Error when organiser submits workshop application"
Organizers are experiencing server errors when they submit an application. The failure cannot be reproduced locally because emails do not get sent in a local environment. However, trying to send the emails on the server gave the traceback below.

[code]

`djrill` was a package by Mandrill which is no longer supported for future versions of Django. We therefore need to move to `Anymail` to enable s

[2021-07-23 16:01] amakarudze commented on #609
This error was  being caused by a wrong setting for EMAIL_BACKEND in the environment variables. After migrating from `Mandrill` which used `djrill` for backend to using `Sendgrid`, the `postactivate` file used by the `deploy.sh` script to set environment variables in production still had this setting

[code]

The error was fixed by changing to

[code]

No need to use Anymail since the migration to

[2021-07-23 16:01] #609 closed

[2021-07-23 16:07] carltongibson commented on #609
Super. That's good work @amakarudze. 👍

[2021-07-23 16:08] amakarudze commented on #609
Thanks @carltongibson!

[2021-08-06 14:30] carltongibson commented on #608
Hey @amakarudze — I've begun on #610 to address this. Not there yet. 😜

[2021-08-08 10:45] marksweb commented on #593
@amakarudze I can see you've assigned this, but would you like contributions? I could take a look at ensuring unique slugs are chosen for new objects & potentially a data migration to fix existing duplicates.

[2021-08-08 10:47] marksweb commented on #572
@carltongibson @amakarudze is this something I could take a look at? Any preferences on implementation?

[2021-08-08 10:51] amakarudze commented on #593
Yes @marksweb. Let me unassign myself. We have been short of contributors lately but we are really looking for more contributors. Thank you. Assigning you now and removing myself and Carlton. Thanks again.

[2021-08-08 10:53] marksweb commented on #593
Thanks @amakarudze

Happy to help out where I can 👍

[2021-08-08 10:57] amakarudze commented on #572
Hi @marksweb. Sure, thank you. Assigning you. @carltongibson is working on something similar on another project so I am happy to let him share his insights on implementation.

[2021-08-08 11:11] carltongibson commented on #572
Hey @marksweb -- yep, love to have you! 😀

I think the best thing to do is to use Stripe's hosted checkout to keep the implementation to a minimum.

We'll need to coordinate on integration because there's a bit of set up on the Stripe side, but since you're volunteering I assume you're familiar with the basics here?

[2021-08-08 11:15] carltongibson commented on #593
Super thanks @marksweb!

I didn't have the bandwidth to dig in yet but, it used to be that the uniqueness was enforced, adding a `-2` say. Reviewing why/when that was removed would probably pay dividends...

Reach out if you want input!

[2021-08-08 11:26] amakarudze opened #612 "Add Sentry for error tracing to project"
Currently, troubleshooting errors on the website involves manually checking the error logs. However, sometimes when the server error occurs, there is no corresponding log on the error log on PythonAnywhere and we have to get the trace log by running `python manage.py shell` and run the piece of code we think broke the website to get a trace log of the error. Adding Sentry to the project could help

[2021-08-08 13:23] marksweb commented on #572
@carltongibson yeah I'm familiar with things. I work for a company a bit like event bright, if you're familiar with them? I've built (django) sites for some large sporting events & dealt with payment gateways & fundraising platforms.

[2021-08-08 13:33] carltongibson commented on #572
Super 👍 then let me know what you need. 😀

Thanks!

[2021-08-08 14:30] marksweb commented on #612
Sentry makes every project better 😂

Does the project make use of celery/redis/etc that could also be hooked up? I'm just getting familiar with the code, but could take a look at this.

[2021-08-08 14:35] marksweb opened #613 "Refactor core models into a package"
Just looking over the code for #593 & I feel like it'd be worth refactoring the core models into a package before making any changes for that issue.

Should make things easier if managers & models are separated. Would that be a welcome change & is there any other parts of the system which might be worth doing similar to while I'm there?

[2021-08-08 17:31] marksweb commented on #593
Ok, so the events are powered by the `city` fields on the URL;

[code]

But `city` is just a simple field...
[code]

I can't see an override of the save to ensure a unique value.

So I'd suggest adding a new field, `slug`, because having multiple events in a city seems fair, but adding things like `-2` to a city isn't really valid for that data.

Then the URL can be powered by the slug and I think

[2021-08-08 18:20] carltongibson commented on #593
@marksweb Sounds plausible, yes.

One thought I’d had was to somehow add a date component to the URL to make it unique. At the first application stage, there wouldn’t be a date, so `proposed` maybe, but once settled there would only ever be one event in Barcelona in May 2022, say. Not sure about whether that’s a good approach—it was just at the ideas phase—but what do you think, as an alternative

[2021-08-08 21:48] marksweb commented on #612
@amakarudze Sentry is already available in the settings if `SENTRY_DSN` is in the environment variables

https://github.com/DjangoGirls/djangogirls/blob/main/djangogirls/settings.py#L205

The version of sentry-sdk is quite old. It'd be good to upgrade that. Potentially adding pip-tools to the project would help with maintaining package versions that are compatible between one-another - though I do

[2021-08-08 23:33] marksweb commented on #593
@carltongibson yeah that sounds wise to just use the data that already exists. Although without also adding a unique together between city & date, you still can't guarantee a single object so would need to rely on form validation here.

Could potentially do something with 2 URL paths, one with year/month another with year/month/day and where 2 events exist in a city in 1 month, they then use the d

[2021-08-09 08:24] amakarudze commented on #612
@ marksweb,

No, the project doesn't use celery/redis/etc. PythonAnywhere doesn't support celery yet.

Thanks for that @marksweb. I have seen this before but we seem to have lost the credentials for the current setup. Couldn't use Sentry when we were fixing some issues a couple of weeks ago. Trying to see if we can recover them or start afresh, including upgrading the packages. Some details were l

[2021-08-09 09:25] marksweb commented on #612
@amakarudze Ah I see, so there's been a recent change in people with access. It'd be worth reaching out to those previously involved to see if they can access the sentry account. Even if it's empty, it saves a little setup.

I know I'm new to the project, but if you need any assistance, let me know. I've been using Sentry for some time and have experience with integration with build pipelines to i

[2021-08-09 09:45] carltongibson commented on #612
Hey @marksweb — thanks for this. To fill you in, current status is "Yes, we want to use Sentry" — we just need to work out the account details (which includes asking if we can get a sponsorship from them on the account) — so it's more "admin"-blocked at the moment. Once we move that forward, your help in setting up the release integration and all that stuff will be much appreciated. 👍

[2021-08-09 09:56] amakarudze commented on #612
Thanks @marksweb. Getting access details from old members may take more time than just starting afresh. I tried recovering the account but didn't get reset email so it may have been setup with someone's personal account. Like @carltongibson said, once we figure out the admin issues, we will definitely ask for your help setting up.

[2021-08-09 17:33] amakarudze opened #615 "Remove Python 3.5 and 3.6 from GitHub Actions Workflow"
After successfully migrating from Python 3.4 to 3.7 in production, seems there is no reason to keep versions 3.5 and 3.6 in our workflow as their builds sometimes fail.

[2021-08-09 19:37] amakarudze commented on #612
Hey @marksweb, we now have a sponsored account so we can work on this now. Yay!

[2021-08-09 20:32] #615 closed

[2021-08-09 23:13] marksweb opened #618 "Add pip-tools to help maintain dependencies"
Adding [pip-tools](https://pypi.org/project/pip-tools/) to the project would be really helpful for maintaining dependencies.

With the plans of upgrading, `pip-tools` can make this really simple. Not sure if anybody else has used it, but it ensure compatibility between packages.

It works on the basis of having a files called `requirements.in` which holds the core requirements of the project. `req

[2021-08-09 23:14] marksweb commented on #612
@amakarudze Fantastic news!!

[2021-08-10 05:25] #612 closed

[2021-08-10 12:14] amakarudze opened #623 "Job board for global partners"
We used to have a job board for global partners but it was removed. As our mailing lists and Slack channels are no longer that active, we have limitations on how wide we can spread the news within our community when a global partner requests us to promote their job openings. It would be useful to have this as part of the website, as a standalone app with `Job` and `Global Partner` models, and we c

[2021-08-10 16:26] #608 closed

[2021-08-10 20:17] #618 closed

[2021-08-10 20:19] #593 closed

[2021-08-10 23:20] amakarudze opened #625 "Flickr integration to select more diverse photos"
When a new event is created, stock pictures already in the system are used as thumbnails for the event on the homepage as well as on the event homepage. However, these stock images are not as diverse and sometimes do not represent the event well. It would be great for the website to be integrated to the Django Girls Flickr account so that we have more diverse images to use.

[2021-08-10 23:27] amakarudze opened #626 "Document how people get added when being accepted as new organizers"
There is a need to document how people are being added as new organizers to Django Girls website, Slack, etc. so that troubleshooting is easier when there are problems with adding new organizers.

[2021-08-10 23:32] amakarudze opened #627 "Locate Slack auto email and document steps"
Currently, new organizers are invited to Slack using an email auto-generated by the website when they are added as new organizers. Sometimes, these Slack invites do not go out and there is need to know how it is being done so they can be added manually in the event their invites fail to go through.

[2021-08-10 23:46] amakarudze commented on #436
@marksweb how much of this issue is affected by the work you have done in [Fix multiple object error on event view [#593] #614](https://github.com/DjangoGirls/djangogirls/pull/614)?

[2021-08-10 23:48] amakarudze commented on #419
@marksweb And this one too? Just asking so I know whether to close some of these issues.

[2021-08-10 23:52] amakarudze commented on #459
@marksweb, sorry to do this to you. There seem to be too many related issues and I just need to close them if they are covered by your PR or we need to get help for them. Thanks again for all your work.

[2021-08-11 00:05] amakarudze opened #628 "Django version stuck on 2.0 because of Django-suit"
For a long time, the version of Django used in our website has been stuck at version 2.0 because no work has been done on Django-suit since 2019. We need to be able to move to a newer and supported version of Django while ensuring that there is still a good user interface. The following tasks need to be done:

- [x] Update website to use Django admin.
- [x] Upgrade Django version to a new and supp

[2021-08-11 00:08] amakarudze commented on #510
@carltongibson do we still need this or we can close it?

[2021-08-11 00:09] marksweb commented on #436
@amakarudze What I did on that issue doesn't impact on this.

I didn't change anything with the way data is collected or the new `Event` objects are created.

I changed the way the event detail view is handled by having it use the data that originates from `website_slug` instead of `city`. So I think that's as close as I got.

[2021-08-11 00:10] marksweb commented on #419
Yeah this is unrelated as well @amakarudze

[2021-08-11 00:24] marksweb commented on #459
@amakarudze I think this one needs some testing/investigation because there's not enough info in that message, at least with my current understanding, to know quite what happens with past events/archiving.

Although to provide a little info on what I did, I've got the events page open right now.

![Screenshot 2021-08-11 at 01 16 15](https://user-images.githubusercontent.com/1461191/128950974-2fb36

[2021-08-11 00:53] marksweb commented on #572
@amakarudze @carltongibson

Ok I've found a couple of hours for this.

There's effectively 3 views. The donation form, a success/confirmation page and an error page if the form doesn't validate.

![Screenshot 2021-08-11 at 01 45 59](https://user-images.githubusercontent.com/1461191/128953138-0f6f0a38-cc12-4475-b96a-d58a7cc681d1.png)

![Screenshot 2021-08-11 at 01 46 59](https://user-images.githubu

[2021-08-11 02:19] vanessa commented on #510
Sorry I didn't add a proper context to the issue. When I opened a PR back in 2019, I think it was a wish that we switched to webpack some day, see https://github.com/DjangoGirls/djangogirls/pull/509#issuecomment-514207348

I can give it a try whenever possible if it's okay with you folks 🙂

[2021-08-11 08:49] carltongibson commented on #510
Hey @vanessa — thanks for the input.

At the moment I'm not sure of the benefit of making a change here. Gulp is updated to the latest version, and is functioning, and is relatively simple. We're not gulp experts true, but we're not web pack experts either — so I'm not at all sure what the benefit of web pack, for us, now, really is…? 🤔

The comment on #509 suggested having one window to run both

[2021-08-11 10:16] marksweb commented on #572
Yeah I thought I'd start a draft PR once it's integrated to the correct place. It's a lone wolf at the moment @carltongibson 😂

[2021-08-11 11:10] amakarudze commented on #572
Yes @marksweb, in the empty space below the heading `One time donations`. Thanks for your work in this.

[2021-08-11 18:56] #510 closed

[2021-08-12 09:06] marksweb commented on #627
The process through the code is;

- `EventApplication.deploy()`
- `event.add_organizer(organizer.email, organizer.first_name, organizer.last_name)`
- `self.invite_organizer_to_team(user, created, password)`
- `user.invite_to_slack()`
- `user_invite(self.email, self.first_name)`

Then finally;
[code]

The email that uses is the value from the `User` table.

As a side note. The slack integration lib

[2021-08-12 10:41] amakarudze commented on #627
Thanks @marksweb for quickly looking into this. Will check out both the code, the slack integration library in use and Slack's API and update the issue so we can switch to it. Will also look to see if we can do any error handling.

[2021-08-12 20:53] marksweb commented on #628
Is this best done on a separate branch that can be used by multiple people as it feels like it's going to take quite some time to do?

[2021-08-12 21:05] marksweb commented on #571
@amakarudze Assign this one to me. I'll update all the strings to use translation.

Do you have any thoughts on who can do the actual translations?

At work we use this service; https://weblate.org/en-gb/

We self host it, but it's a django based piece of software & therefore I'm not sure if they'd be open to sponsorship or some kind of deal on their hosted service.

[2021-08-13 01:02] amakarudze commented on #628
Hadn't thought about that @marksweb but I think that would be a great idea.

[2021-08-13 01:05] amakarudze commented on #571
Thanks for the suggestion @marksweb, we hadn't thought about who would do the actual translations. I thought Google Translate did that automatically but I guess we can consider applying for sponsorship from them. This is an area I think most of the trustees and support team members do not understand very well but we are willing to learn.

[2021-08-13 05:47] vanessa commented on #571
Hey, just giving my 2 cents. In case the team is looking for localization platforms, I've used POEditor (https://poeditor.com/) before with Django and it works really well if the workflow is automatized - they also have a free unlimited plan for open source projects.

[2021-08-13 12:20] amakarudze opened #630 "`curl: (6) Could not resolve host: intake.opbeat.com` error when deploying website"
We used `opbeat` sometime back but must have been removed. However, when we do the deployment of the website after merging changes, we still get the error:

```curl: (6) Could not resolve host: intake.opbeat.com```

Need to find where in the website we are still referencing to `opbeat` and remove it.

[2021-08-13 12:28] amakarudze opened #631 "Server error `django.urls.exceptions.NoReverseMatch: Reverse for 'event' with arguments '('budapest1/hu',)' not found. 1 pattern(s) tried: ['(?P<page_url>[-a-zA-Z0-9_]+)/$']`"
We are getting server error because of this.

[code]

[2021-08-13 12:59] amakarudze commented on #572
Had to revert the changes so reopening this.

[2021-08-13 14:15] amakarudze opened #633 "Sentry error reporting not working after adding new DSN"
We added the new DSN for `sentry` but errors are not appearing in on [sentry.io](sentry.io) dashboard.

[2021-08-13 14:23] carltongibson commented on #633
It doesn't look like the init code is in settings...

https://docs.sentry.io/platforms/python/guides/django/

🤔

[2021-08-13 14:28] amakarudze commented on #633
It's there if you scroll to line [207](https://github.com/DjangoGirls/djangogirls/blob/main/djangogirls/settings.py#L207). Maybe adding `trace_sample_rate` will fix this? Am new to `sentry` so I have no idea.

[2021-08-13 14:38] carltongibson commented on #633
You're right it is there...

We need to verify the the environment variable is being set. Otherwise it should work.

[2021-08-13 14:48] amakarudze commented on #633
We also have had this warning in the server logs for ages

[code]

Maybe could be the source?

[2021-08-13 14:53] amakarudze commented on #633
Not sure why it wouldn't be set because it is being exported the same way as all the other environment variables.

[2021-08-13 17:41] marksweb commented on #631
@amakarudze This looks to because of the changes in #593

Certainly caused by the data in the database. Looks like something in a slug value with a `/`.

Will ideally need some info from the event to reproduce this and then fix.

[2021-08-13 17:56] marksweb commented on #633
The `sample_rate` argument just changes the percentage of errors that actually get reported. I'm not entirely sure why you'd use this. Perhaps if an app raised so many errors that you didn't need it to report them all.

Enabling threads for uwsgi would be a good idea - but these settings depend on what hardware is running the site as to what the CPU/memory is best suited to running.

[2021-08-13 18:05] marksweb commented on #630
I think this would need a stacktrace because the only instance of `opbeat` in the project is in the pytest config where an environment variable is set `OPBEAT_DISABLE_SEND=true`

I also can't find `intake` in the project.

[2021-08-13 21:06] marksweb opened #635 "Introduce flake8 checks for code quality"
I'm a fan of good quality code so keen to introduce [flake8](https://flake8.pycqa.org/en/latest/) to the project & have it running along with the actions.

There's about 150 issues that it's identifying, so wouldn't be a small PR, but it is just formatting, not functionality.

Issues should be fewer if the code quality is higher.

Would this be a welcome feature?

[2021-08-14 08:20] carltongibson commented on #633
The trace sample rate is about the new Performance monitoring Sentry have. It's bit related to error reporting. I don't think it's mandatory.

Ref the environment variable, the settings file is pretty clear: **if it's there** make the call to sentry. If those calls aren't being made, well, is it set. (You could insert a print() in there to check the block is entered.)

It does happen that the code

[2021-08-14 08:36] carltongibson commented on #635
Hey @marksweb -- do you think setting up pre-commit would be worth it here?

[2021-08-14 08:54] marksweb commented on #635
Yeah that'd be my preference @carltongibson

[2021-08-14 10:27] marksweb commented on #633
I've done a bit of reading about what python anywhere offers and essentially they don't support running multiple threads.

They just let you pick out your wsgi app and their server config runs that.

I wonder if you can tell sentry that you're running without threads 🤔

[2021-08-14 10:28] marksweb commented on #633
I believe there is a sample rate available to the error reporting as well as performance monitoring: https://docs.sentry.io/platforms/python/configuration/options/#sample-rate

[2021-08-16 13:14] #572 closed

[2021-08-16 20:01] amakarudze commented on #633
Just realised we are running 3 apps and I had only added the SENTRY_DSN environment variable to one wsgi and not the other 2 that's why it wasn't picked up. Will check to see if I experience any deployment or server errors to see if they are logged before closing this issue.

[2021-08-16 20:33] marksweb commented on #633
@amakarudze Now that this is resolved, I could add a version number to the project and link it to Sentry.

It'd need to be incremented as part of your release process after merging PRs to signify the kind of changes (major, minor, patch) that are due to deploy, but on the whole, it'll track sentry issues against the release to show where issues came in.

[2021-08-16 21:36] marksweb opened #639 "Github and Sentry integration"
Sentry can be integrated with github to track releases and hopefully track commits and link errors to github issues.

https://sentry.io/integrations/github/

This needs some poking around in the sentry settings, but I imagine it'll be fairly simple to setup.

Depending on how the release tracking keeps a record of the website, I can then do any additional work to set it up. But it may be able to j

[2021-08-16 21:37] amakarudze commented on #633
@marksweb that'd be great. Thanks!

[2021-08-16 22:32] marksweb commented on #639
@amakarudze first job on this one is for you I think.

I've just tried it out myself & setup a new sentry account, then gone to settings -> integrations and added github.

<img width="963" alt="Screenshot 2021-08-16 at 23 26 30" src="https://user-images.githubusercontent.com/1461191/129637319-b2423d40-483a-4ebe-bc64-8e38d6f30e54.png">

If you configure that, it'll start to give a good idea as to w

[2021-08-17 09:27] marksweb commented on #639
The `sentry-cli` should be possible to integrate into the build script to associate commits with releases;

https://docs.sentry.io/product/sentry-basics/guides/integrate-frontend/configure-scms/

[2021-08-17 16:54] #613 closed

[2021-08-17 18:02] #635 closed

[2021-08-17 23:22] marksweb commented on #599
Ok, been trying to sort codecov, but having an issue with the database not being accessible to the tests.

https://github.com/marksweb/djangogirls/runs/3355839128?check_suite_focus=true

Not yet figured out why. I've fiddled the project settings a little so that the database can be more configurable and doesn't assume localhost etc.

[2021-08-18 09:17] amakarudze commented on #599
@marksweb ok, thanks. We can still use the Actions built-in one coverage. We just need to know our code coverage.

[2021-08-18 09:38] amakarudze commented on #639
@marksweb Done!

[2021-08-18 09:39] amakarudze commented on #633
This is now working so closing the issue!

[2021-08-18 09:39] #633 closed

[2021-08-18 09:46] amakarudze commented on #639
So I have 3 errors on the website being reported by Sentry. Is there any easy way to create the issues on GitHub @marksweb? I am getting started with Sentry here. Thanks for the help.

[2021-08-18 10:42] marksweb commented on #599
@amakarudze Actually my action is running today, where it wasn't last night (using the same setup). I think there was some caching going on last night, because it was running (and failing) very quickly compared to what I've just seen.

There's a little more config to do in order to generate the coverage files to upload, but it's nearly there now 👍

[2021-08-18 11:49] marksweb commented on #639
<img width="327" alt="Screenshot 2021-08-18 at 12 27 34" src="https://user-images.githubusercontent.com/1461191/129890333-cbc72ccd-b8ec-4eaa-aa09-48beb01aa390.png">
You should get something in the sidebar (right side) that looks like this when looking at an issue.

I'm just looking at this myself, because I only setup my first integration between github & sentry when I posted the screenshot above.

[2021-08-18 12:20] amakarudze commented on #639
Thanks @marksweb!

[2021-08-18 12:21] amakarudze commented on #599
That's good to hear @marksweb! Thank you for all your help.

[2021-08-18 19:23] marksweb commented on #639
Ok @amakarudze I have some more info following a conversation with a sentry engineer.

The issue tracking is a feature of paid plans, however djangogirls should qualify for a sponsored plan.

For reference, here's my conversation; https://twitter.com/mark_story/status/1428070489147285509

[2021-08-18 20:02] vanessa commented on #382
Hey @amakarudze, sorry about the delay.

I'll finally be able to tackle this issue. Is it still a priority?

[2021-08-19 00:53] marksweb commented on #599
I'm not sure what the slack action does, but I think it could/should have limits put on where it runs.

I don't think it's restricted at all so I'm getting failure notifications every time I push to a branch.

[2021-08-19 15:18] amakarudze commented on #599
@marksweb the Slack action should only send notifications to the #notifications channel on Slack saying whether a build was successful or not. At least that's what we are trying to do.

[2021-08-19 15:22] amakarudze commented on #382
Hey @vanessa. Yes, it's still important thank you.

[2021-08-19 15:23] marksweb commented on #599
@amakarudze So just pushes to the `main` branch would be ok? Or pull requests also?

[2021-08-19 15:24] amakarudze commented on #599
@marksweb Pushes to main branches and pull requests as well.

[2021-08-19 15:28] sentry-io[bot] opened #644 "AttributeError: 'str' object has no attribute 'year'"
Sentry Issue: [DJANGO-GIRLS-WEBSITE-4](https://sentry.io/organizations/django-girls/issues/2581104816/?referrer=github_integration)

[code]

[2021-08-19 15:29] marksweb commented on #599
@amakarudze Thanks for confirming - I've put the necessary restrictions on it; https://github.com/DjangoGirls/djangogirls/pull/645

[2021-08-19 15:29] sentry-io[bot] opened #646 "OSError: write error"
Sentry Issue: [DJANGO-GIRLS-WEBSITE-3](https://sentry.io/organizations/django-girls/issues/2580904102/?referrer=github_integration)

[code]

[2021-08-19 15:30] sentry-io[bot] opened #647 "OSError: write error"
Sentry Issue: [DJANGO-GIRLS-WEBSITE-2](https://sentry.io/organizations/django-girls/issues/2580904100/?referrer=github_integration)

[code]

[2021-08-19 15:31] amakarudze commented on #639
Thanks @marksweb. Just created 3 issues from Sentry, yay!

[2021-08-19 15:47] amakarudze commented on #647
Duplicate of #646

[2021-08-19 15:47] #647 closed

[2021-08-19 15:58] marksweb commented on #639
@amakarudze thats excellent news, so you've been able to get the sponsored plan sorted?

The other thing to look at on there was single sign on from github. That should provide people in the github organisation with access to sentry, or at least make it easier.

[2021-08-19 16:00] amakarudze commented on #639
Yes, the sponsored plan was sorted more than a week ago @marksweb. I thought I gave that feedback already.

[2021-08-19 16:10] marksweb commented on #644
Could do with the sentry context on this one to really see what is going on with the data through the stacktrace on this.

[2021-08-19 17:02] mridubhatnagar opened #650 "Interested in contributing"
Hey @amakarudze 👋

Couldn't find any other way to reach out to you. Hence, had to create an issue.

I am interested in contributing to the project and help you and @marksweb.
Reaching out to know can you possibly point me to a good first issue to start with?

[2021-08-19 17:15] marksweb commented on #650
Hi!

Always good to see people wanting to contribute 🎉

Have you contributed to any other projects? I ask only to get an idea of how familiar you may be with how these things usually work 👍

Oh the whole, contributing is the same for all projects;

- fork the repo
- find an issue that you think you can help with & leave a comment that you're looking at it
- check for any contribution guidelines or

[2021-08-19 17:49] mridubhatnagar commented on #650
Hi @marksweb

Yes, I have contributed to other projects too. Beginner-level contributions though.
I was just confused with which issue might be a good first issue to start with.

[2021-08-19 17:52] amakarudze commented on #599
@marksweb maybe we can remove Slack notifications for now so that builds don't fail?

[2021-08-19 17:54] marksweb commented on #626
@mridubhatnagar this might be a good first issue, helping you get used to how some of the system works.

[2021-08-19 17:57] amakarudze commented on #628
Yes @marksweb, let's use the `dev` branch for this. We could make this our priority for now.

[2021-08-19 18:03] amakarudze opened #651 "`'SSLError(SSLEOFError(8, 'EOF occurred in violation of protocol (_ssl.c:600)'),)': /api/1305368/store/`"
There is a consistent error on one of the web apps serving Django Girls website. Not sure where this connection to the closed store is being called from.

[code]

[2021-08-19 18:05] mridubhatnagar commented on #626
@marksweb thanks, I don't know the process yet. Once I know I'll add that and raise PR for this issue.

[2021-08-19 18:06] marksweb commented on #628
Ok sounds sensible @amakarudze

I might try to wrap up where I got to with translations & I can take a look at this. I don't think I was far from complete. I'd certainly been through the apps and some of the templates. Can't be much left for an initial implementation.

[2021-08-19 18:08] marksweb commented on #639
There's a good chance you did & I've just forgotten 🤦‍♂️😂

[2021-08-19 18:56] marksweb commented on #644
@amakarudze I requested sentry access to assist with this. Should be a simple fix once I can see what's happening with the live site.

[2021-08-22 20:27] sentry-io[bot] opened #655 "ValueError: The view donations.views.charge didn't return an HttpResponse object. It returned None instead."
Sentry Issue: [DJANGO-GIRLS-WEBSITE-5](https://sentry.io/organizations/django-girls/issues/2589034739/?referrer=github_integration)

[code]

Caused by a user trying to access the donation charge URL with a `GET` request.

[2021-08-22 20:30] marksweb commented on #644
@amakarudze Looking at the Sentry error on this one, I think this is likely invalid data on the event in the database. It would appear that this particular event doesn't have a date.

If you could confirm, I'll make the view more defensive & just say that if the date is invalid in that scenario then the event is in the past.

[2021-08-22 21:23] marksweb opened #657 "Test failures running locally"
I'm consistently seeing 2 tests fail on my machine, but not on github. I can't understand why.

[code]

[code]

[2021-08-24 12:39] #655 closed

[2021-08-24 12:46] amakarudze commented on #644
@marksweb wow! Thanks for picking that up. Yes, I checked the database and the event doesn't have a date. I wondered why the error keeps appearing, it's a data issue.

[2021-08-24 14:59] marksweb commented on #657
This seems to have stopped happening. Potentially after I switched requests and their vcr files to use HTTPS.

[2021-08-24 14:59] #657 closed

[2021-08-24 19:53] #639 closed

[2021-08-30 14:25] amakarudze commented on #460
Thanks @vanessa!

[2021-08-30 14:28] #382 closed

[2021-09-01 01:47] vanessa commented on #460
Hey, I assumed @GirlGeekUpNorth was talking about `send_offer_help_emails` when created the issue. It looks like we exclude events that have no form or website isn't live [here](https://github.com/DjangoGirls/djangogirls/blob/main/core/management/commands/handle_emails.py#L106), and I tried to add a test reproducing this issue but unfortunately couldn't find a way to.

Maybe we can close this issu

[2021-09-01 01:57] vanessa commented on #630
Do we have a custom script that runs during deployment and doesn't live in the repo? IIRC DjangoGirls uses PythonAnywhere to host the website to maybe there's something still there?

[2021-09-01 03:07] vanessa commented on #484
Checking this now.

[2021-09-01 06:21] carltongibson commented on #630
Good spot @vanessa! 🕵️‍♀️

[2021-09-01 11:32] amakarudze commented on #630
Yes, @vanessa, we do have a custom script `deploy.sh` that we run during deployment and doesn't live the repo. Thanks for spotting that! However, we no longer have the `githooks` folder in the website folder here in the repo or on PythonAnywhere. I am not sure how the `post-merge` script is now being activated and how to stop it given that the `githooks` folder doesn't exist anymore.

[2021-09-01 11:51] amakarudze commented on #630
Thanks @vanessa. Marking this as resolved!

[2021-09-01 11:51] #630 closed

[2021-09-01 11:56] amakarudze commented on #460
Hi @vannessa, we actually exclude events that have a live website or an application form and send to events without a live website or an application form. In this case, the email was sent to events we should exclude that's why @GirlGeekUpNorth raised this issue.

[2021-09-01 14:39] vanessa commented on #460
@amakarudze Thanks for explaining. Just realized it was a misexplanation on my side - sorry! I tried adding a test with the scenario explained above (live websites and open applications) to reproduce the issue and couldn't find a way to make `send_offer_help_emails` send emails, so it seemed like the filter is working. I might be missing something but not sure what...

It looks that we call "event

[2021-09-02 13:47] amakarudze opened #660 "Update Patreon figure on website homepage and donate page"
We have just had a new global partner joining us on Patreon bringing our figure from `$701` to `$806`, which is `54%` of our target goal. We need to update this change on these pages:
* [website homepage](https://github.com/DjangoGirls/djangogirls/blob/main/templates/core/index.html#L120-L123) `templates/core/index.html`
* [donate page](https://github.com/DjangoGirls/djangogirls/blob/main/template

[2021-09-02 13:49] amakarudze commented on #660
@mridubhatnagar I think this is a beginner-level issue that you can tackle. I have even pointed to the files that need updating and supplied the details. Shall I assign this to you?

[2021-09-02 13:51] amakarudze commented on #460
Thanks @vanessa! No worries about the misexplanation.

[2021-09-02 13:59] mridubhatnagar commented on #660
Thanks @amakarudze.

Yes sure, you can assign it to me.

[2021-09-06 08:34] marksweb commented on #628
After bumping to django 2.2 for #661 I have also bumped to 3.2 to see how that goes.

Plenty of changes to make here, and upgrades to third party packages.

Strangely though, there seems to be a lot of errors from tests in the SQL syntax. This is unexpected.

They seem to all becoming from a small number of tables, `auth_group_permissions`, `core_user_groups`, `core_event_team`

Some examples;

[c

[2021-09-06 08:52] carltongibson commented on #628
That'll be the Postgres version I'd guess. [Version 9.6 or higher is required](https://docs.djangoproject.com/en/3.2/ref/databases/#postgresql-notes).

[2021-09-06 11:46] marksweb commented on #628
@carltongibson Yes, good point!!

I've still got it pointed at my old 9.4 server because the port wasn't customisable when I started with this project. Moving it to my v12 server works - at least after adding a package to load the `.env` file into pytest to pickup the different database port.

Down to 7 failed tests now and 2 always fail locally - patreon and lat/long differ on my machine for what

[2021-09-06 11:48] marksweb commented on #628
@amakarudze So moving the project to django 3.2 needs postgres 9.6 or higher. However I think 9.6 hits EOL in the coming months.

So it'd be good to understand what version the site currently runs on and what options there may be to upgrade. Version 12 is a good place to be.

[2021-09-06 22:02] amakarudze commented on #660
@mridubhatnagar please note I have updated the figures again.

[2021-09-06 22:14] sentry-io[bot] opened #662 "ValueError: Sendgrid only allows 1 email in the reply-to field"
Sentry Issue: [DJANGO-GIRLS-WEBSITE-6](https://sentry.io/organizations/django-girls/issues/2629667474/?referrer=github_integration)

The stack trace for this issue is shown in these images:
<img width="1053" alt="Screenshot 2021-09-07 at 00 12 22" src="https://user-images.githubusercontent.com/13593285/132263184-d830da80-864e-44a6-a278-41c725166a57.png">
<img width="1055" alt="Screenshot 2021-09-0

[2021-09-07 20:41] marksweb commented on #628
Alright, i've got django 3.2 running and tests passing 👀  🎉

So I think the next steps here are;

* Ensure deploy script is using `pip-tools` to run `pip-sync` which will keep required packages installed and remove old ones
* Merge and deploy #661
* Ensure production is using Postgres 9.6 or higher to support django 3
* Test & merge django 3.2 PR (yet to be raised)

[2021-09-08 16:01] amakarudze commented on #628
@marksweb The server is running Postgres 9.4. I am running Postgres 12 in my own PythonAnywhere personal account. Will need to check PythonAnywhere documentation on upgrading Postgres version. We might need to get help from PythonAnywhere team on this.

[2021-09-08 16:02] amakarudze commented on #628
Noted @marksweb, I will add the command to the deploy script.

[2021-09-08 16:10] amakarudze commented on #628
@marksweb We would need to email PythonAnywhere to upgrade our Postgres server to version 12 with times we want this so when we are ready to migrate to Django 3.2 we can ask them to do that for us.

[2021-09-08 19:10] marksweb commented on #628
@amakarudze Thanks for that. Postgres 12 should work on django 2.0, so the current site. So perhaps get in touch with pythonanywhere once the 2.2 release goes out.

I just tagged you in a comment about what the deploy script should ideally do, I think that was on the 2.2 PR.

I actually got the django 3.2 upgrade finished last night. I'm just using the time now to increase the test coverage where

[2021-09-08 19:30] amakarudze opened #664 "Add test coverage for `done` method of `OrganizeFormWizard` in `organize/views.py`"
We are always experiencing server errors in the event application process which require manual troubleshooting because the `done` method lacks test coverage. The code for submitting the form, which is in the [done](https://github.com/DjangoGirls/djangogirls/blob/main/organize/views.py#L35-L51) method of [OrganizeFormWizard](https://github.com/DjangoGirls/djangogirls/blob/main/organize/views.py#L30

[2021-09-08 20:14] amakarudze commented on #628
@marksweb I saw the tag and I replied there, in 2 places actually, thanks.

Great to hear that you finish the Django upgrade to 3.2. Thanks for all your work in all this @marksweb!

I have written to PythonAnywhere so we should do the upgrade of the Postgres server this Friday hopefully.

Great to hear that the Sentry issue is being resolved. Need to know when and why my deploys fail hahaha. While

[2021-09-10 16:37] amakarudze commented on #628
We are now running Postgres 12 in production so we should be able to upgrade to Django 3.2.

[2021-09-10 17:02] marksweb commented on #628
@amakarudze thats great. I also rebased the 2.2 changes onto the translation PR

[2021-09-11 22:52] marksweb commented on #664
I'm not entirely sure how you test `done()` of a `WizardView` class, because that method doesn't have a URL to test.

[2021-09-13 00:15] amakarudze commented on #664
Hey @marksweb, so the method is called by this [url](https://github.com/DjangoGirls/djangogirls/blob/main/organize/urls.py#L11) in `organize/urls.py` after all the form steps have been successful.  It's using [django-formtools](https://django-formtools.readthedocs.io/en/latest/). I was able to test most of the form steps using post requests but wasn't sure about hitting the database bit which is h

[2021-09-13 00:47] amakarudze opened #668 "Update Python version from 3.7 to 3.9"
After updating Django version to 3.2, we would like to update the Python version to 3.9.

[2021-09-13 07:40] #571 closed

[2021-09-13 07:48] sentry-io[bot] opened #669 "TemplateSyntaxError: 'suit_compat' is not a registered tag library. Must be one of:"
Sentry Issue: [DJANGO-GIRLS-WEBSITE-D](https://sentry.io/organizations/django-girls/issues/2644722568/?referrer=github_integration)

[code]

[2021-09-13 08:00] amakarudze commented on #669
Hey @marksweb, [this line](https://github.com/DjangoGirls/djangogirls/blob/main/templates/admin/organize/eventapplication/view_change_status.html#L3) is breaking the code while trying to accept new event applications. Could you help us with this?

[2021-09-13 08:37] marksweb commented on #669
@amakarudze Thanks for sorting. I've just been rebasing the django 3 PR following the merge of translations

[2021-09-13 08:37] #669 closed

[2021-09-13 13:25] sentry-io[bot] opened #671 "TypeError /en/admin/organize/eventapplication/{application_id}/triage/ Object of type __proxy__ is not JSON serializable"
Sentry Issue: [DJANGO-GIRLS-WEBSITE-E](https://sentry.io/organizations/django-girls/issues/2645186070/?referrer=github_integration)

[code]

[2021-09-13 13:57] amakarudze commented on #671
Hey @marksweb if you have the bandwidth, may you please help me figure out this error? You can check the stack trace in Sentry for more context. Am having a hard time figuring out how this is breaking.

[2021-09-13 14:16] marksweb commented on #671
Hello @amakarudze

When you see a `__proxy__` object causing trouble like this, it's probably a translated string. I'll have a look into it.

[2021-09-13 15:09] amakarudze commented on #671
Thanks @marksweb. Good to know. Will keep this in mind in case any more of these errors pop up.

[2021-09-13 16:48] #671 closed

[2021-09-13 17:17] amakarudze commented on #660
@mridubhatnagar are you still working on this?

[2021-09-13 17:21] amakarudze opened #673 "Website translations for other languages"
We have added support for website translations for other languages and locales such as French, Portuguese, Spanish etc.

We need help translating our website into your local language.

[2021-09-14 07:49] marksweb commented on #673
Once the django 3 PR is merged we can get the translations branch updated and I'll make the changes to the editing tool and add details here for how to contribute.

[2021-09-14 13:23] marksweb commented on #631
This can be closed - data issue, not code issue.

[2021-09-14 13:58] #631 closed

[2021-09-14 20:27] amakarudze commented on #668
Thanks @marksweb. I will probably look at #667 tomorrow.

[2021-09-14 20:29] amakarudze opened #674 "Customize Django Admin"
Django-suit used to give us a nice user interface. Now that we have removed it due to it not being compatible with supported version of Django, that is, version 2.2 +, we need to work on customizing the interface once the upgrade to Django 3.2 is complete.

[2021-09-14 20:37] amakarudze opened #675 "Separate global sponsors from global supporters"
We are trying to get more companies to support our work through one of the 2 ways:

- Sponsor us financially (global partners/sponsors)
- Support us through resources or technical support (global supporters)

We need to add a section on the `templates/includes/_main_sponsors.html` for supporters and put Sentry and PSF logos as our supporters with a heading **They already support us**. This is to g

[2021-09-14 21:05] marksweb commented on #664
I saw via sentry that `done` appears to be exposed in the urls as a step in the wizard.
It expects a list of validated forms, so there may be a way of calling that, but I don't think it'll take the usual get/post requests from the client.

[2021-09-14 21:07] marksweb commented on #674
If it's just for a nicer appearance then this is a great package

https://pypi.org/project/django-admin-interface/

[2021-09-14 21:22] sentry-io[bot] opened #677 "NoReverseMatch: Reverse for 'event' with keyword arguments '{'city': 'antananarivo'}' not found. 1 pattern(s) tri..."
Sentry Issue: [DJANGO-GIRLS-WEBSITE-H](https://sentry.io/organizations/django-girls/issues/2648445496/?referrer=github_integration)

[code]

[2021-09-14 21:23] sentry-io[bot] opened #678 "TypeError: render() got an unexpected keyword argument 'renderer'"
Sentry Issue: [DJANGO-GIRLS-WEBSITE-J](https://sentry.io/organizations/django-girls/issues/2648446279/?referrer=github_integration)

[code]

[2021-09-14 21:24] sentry-io[bot] opened #679 "EventPageContent.MultipleObjectsReturned: Detected non-unique values in field '{rank_field}' used for sorting this model."
Sentry Issue: [DJANGO-GIRLS-WEBSITE-K](https://sentry.io/organizations/django-girls/issues/2648457060/?referrer=github_integration)

[code]

[2021-09-14 21:31] amakarudze commented on #674
Thanks @marksweb. Will check it out.

We seem to be having so many issues in Sentry, I guess due to changes in the admin. It seems some functionality was broken. I managed to resolve 2 which were a result of data errors but some may need more investigation. If you have the time of course. Thanks again for all your work @marksweb!

[2021-09-14 21:56] marksweb commented on #679
Issue here is the `position` field on `EventPageContent` isn't unique so `adminsortable` might come across multiple objects with the same order value.

[2021-09-14 22:48] marksweb commented on #662
Currently The code does;
[code]

This collects a list of organiser emails, but sendgrid doesn't support this. This needs to change so that `reply_to` is only 1 email address.

[2021-09-14 23:52] marksweb opened #682 "Applications app uses `city` in it's URLs and for referring to events but should use `page_url`"
Recently the core URLs for event were updated to use `page_url` instead of `city` as their `Event` attribute, because `city` isn't a unique value, or valid slug. Instead the `Event` object has a `page_url` field which is the slug value created when an event application is deployed.

The applications app still uses `city` in it's URLs and in the views this `city` variable is used to get `Event` obj

[2021-09-14 23:58] marksweb commented on #674
@amakarudze From what I've seen, the changes aren't really from changes to admin, they're from the 2.2 upgrade.

I've fixed a couple of things just now. Essentially it's areas of the application which aren't tested - so admin is a big one with what I've updated. A `reverse()` for a URL in admin was wrong, and a widget being used for an HTML field is out of date and doesn't work with django 2.2 so

[2021-09-15 12:13] amakarudze commented on #674
Thanks @marksweb for looking into this quickly. Yes, that is the challenge with untested code I guess. Yes, it seems there will be a lot to do for a while. Thanks for all your work.

Sorry all these issues delay me getting to #667 pull request but I will get to it when organizers and Claire can at least do their work. Thanks again @marksweb.

[2021-09-15 12:16] #677 closed

[2021-09-15 12:17] #675 closed

[2021-09-15 12:30] #678 closed

[2021-09-15 12:35] amakarudze commented on #660
@mridubhatnagar I haven't heard from you in a while so I am taking this up now.

[2021-09-15 12:37] amakarudze commented on #662
Thanks @marksweb. Let me see if I can change to `reply_to=event_application.get_main_organizer_emails()`.

[2021-09-15 13:12] marksweb opened #684 "Implement Patreon API"
Currently the patreon info is hardcoded and therefore a maintenance nightmare, or already out of date.

They have a python API though...

https://docs.patreon.com/#introduction

It's got to be possible to get the data we currently have hardcoded out of that API.

[2021-09-15 13:14] marksweb commented on #662
@amakarudze Perfect, I did hope there might be a concept of "main organiser" so that'd be just what will fix this.

[2021-09-15 13:17] marksweb commented on #682
@amakarudze This needs to be re-opened as I've not addressed this.

I started to fix this and the application score tests started to fail so it needs looking at still.

[2021-09-15 13:44] amakarudze commented on #682
Oh sorry about that. Thought it was fixed by the `reverse` PR. Now opened.

[2021-09-15 13:46] amakarudze commented on #684
I would appreciate this since I have to update manually every now and then. There other open issues though that I will close and leave this one open.

[2021-09-15 13:47] amakarudze commented on #541
This is now duplicate of #684 so closing this now.

[2021-09-15 13:47] #541 closed

[2021-09-16 00:44] marksweb commented on #684
@amakarudze I've had a little look at the API & in order to really get anything useful out of it, I think I'd need an access token for the django girls account.

I setup a client which is where the API keys are made available; https://www.patreon.com/portal/registration/register-clients

If a client doesn't yet exist, you just need to enter a few minor details and the website URL.

[2021-09-16 12:58] amakarudze commented on #684
@marksweb I have created a test-client for you use which I will delete later. Will share with you credentials privately.

[2021-09-16 13:05] marksweb commented on #684
@amakarudze perfect, thanks 👍

[2021-09-16 17:27] #662 closed

[2021-09-16 17:28] #660 closed

[2021-09-17 00:23] amakarudze opened #686 "Page not found (404) when clicking Django Girls logo to go back to homepage"
The Django Girls logo url still points to `/` when that url has changed to `en-us/` so that if someone clicks on the logo while trying to browse back to the homepage they get a `Page not found (404)` error. This needs to be fixed by using `{% url 'core:index'  %}` instead of `/`.

[2021-09-19 18:56] Mahalinoro opened #688 "TinyMCE - Unable to switch to "Source Code" from the toolbar"
![image (1)](https://user-images.githubusercontent.com/52964908/133939364-2948df45-03d4-42be-8c35-d440bf93d25e.png)
 I would like to edit the HTML code directly for our website contents (Django Girls Antananarivo workshop), but it doesn't have that option even if it says the code plugin is available.

[2021-09-20 10:18] #686 closed

[2021-09-20 10:26] #569 closed

[2021-09-20 15:12] sentry-io[bot] opened #690 "TemplateDoesNotExist: captcha/widget_nocaptcha.html"
Sentry Issue: [DJANGO-GIRLS-WEBSITE-26](https://sentry.io/organizations/django-girls/issues/2660492498/?referrer=github_integration)

[code]

[2021-09-20 15:15] amakarudze commented on #690
Hey @marksweb. This error is causing a `500 Server Error` when people browse contact page and other pages with a captcha.

[2021-09-20 15:16] amakarudze commented on #688
Hey @marksweb, does `tincymce` allow editing the HTML code directly?

[2021-09-20 15:46] marksweb commented on #690
@amakarudze I've not really understood what happened yet with that deployment, but this suggests something odd with the recaptcha version installed.

The version that should be installed after you reverted is django-recaptcha 1.4.0

The version that was upgraded in the django 3 change was to 2.0.6. In this version that template doesn't exist anymore.

Heres the templates in 2.0.6; https://github.c

[2021-09-20 15:49] marksweb commented on #688
@amakarudze I'm not sure. Would need to look at the config options.

[2021-09-20 15:54] amakarudze commented on #690
Ok @marksweb, I was about to ask if recaptcha versions changed after reading this https://github.com/springload/wagtail-django-recaptcha/issues/27. Let me try and run `pip-sync` and also check the version we are running.

I also haven't understood what happened with the deployment. There were just too many errors I haven't even had the strength to read them all. Will probably try to do that tomorr

[2021-09-20 16:02] amakarudze commented on #690
I just ran `pip-sync` and everything is up-to-date. Probably since the last deployment failed, the server did not refresh from Django 3.2 update though the `venv` had `recaptcha` version 1.4.0 and not 2.0.6. It's now working so am closing this issue now.

[2021-09-20 16:02] #690 closed

[2021-09-21 20:37] amakarudze opened #691 "Remove `OPBEAT_DISABLE_SEND=true` from pytest.ini"
We no longer need this setting in `pytest.ini` since Opbeat was deprecated and we removed the post-merge hooks in production.

[2021-09-22 17:00] amakarudze commented on #628
Finally merged in Django 3.2 updates and upgraded Python version to 3.9 in production. Closing this issue now and the Admin UI can be handled in a separate issue. Thanks @marksweb for all your work in this.

[2021-09-22 17:00] #628 closed

[2021-09-22 17:02] amakarudze commented on #668
We are now running Python 3.9 in production. This change need to be reflected in GitHub Actions YAML files so we do our CI/CD on the version we are running in production.

[2021-09-22 17:05] amakarudze opened #693 "Update README.md to remove instructions to push to `dev` branch"
The Django upgrade to version 3.2 is done, we no longer need the `dev` branch and the instructions for submitting PRs should be updated to remove the need to push to `dev` branch.

[2021-09-22 17:14] sentry-io[bot] opened #695 "AttributeError: 'Settings' object has no attribute 'RECAPTCHA_TESTING'"
Sentry Issue: [DJANGO-GIRLS-WEBSITE-2H](https://sentry.io/organizations/django-girls/issues/2665806542/?referrer=github_integration)

[code]

[2021-09-22 17:17] amakarudze commented on #695
This must have happened during the upgrade period. Checked the contact page is working so closing this now.

[2021-09-22 17:17] #695 closed

[2021-09-22 18:24] #668 closed

[2021-09-24 16:44] #691 closed

[2021-09-24 16:47] #693 closed

[2021-09-24 16:53] amakarudze opened #700 "Update `Submitting a pull request` section in README.md"
The migration from Django 2.0 to 3.2 is now complete so there is no need to mention this issue here. Change the wording to
`We have one major issue...` and remove point number 2 on `Migrate from Django Suit which is pinning us on Django version 2.0`.

Also change `Since these are major changes to the website, pull requests related for each of this` to `Since this is a major change..., pull request

[2021-09-24 17:13] #688 closed

[2021-09-27 10:34] sentry-io[bot] opened #702 "TypeError: "reply_to" argument must be a list or tuple"
Sentry Issue: [DJANGO-GIRLS-WEBSITE-2J](https://sentry.io/organizations/django-girls/issues/2674442944/?referrer=github_integration)

[code]